[2021-08-19 14:06] nvunnamm commented on #1234
@rafasbcgov We have now added Basic and Business IDP in Dev and Test environments. You will notice that there is still Grandfathered BCeID (Basic, Business, Personal) attached to the realm as we want you to test the new implementation is working and your team is comfortable removing Grandfathered BCeID and start using Basic and Business IDP.
Please let us know after testing so that we can remove G

[2021-08-19 16:38] rafasbcgov commented on #1234
@nvunnamm Thanks! I've tested the new implementation and is working perfectly fine. All good to remove grandfathered BCeID. Once you do this can the _bceid-basic-and-business_ idp be renamed to _bceid_ ?

[2021-08-19 16:59] ConradBoydElliottGustafson opened #1238 "HETS team cookie SSO Issue"
AC:
Document the issue adequately and educate teams (Conrad) - DONE
Turn on cookies in standard realms. - Niran

The HETS team reached out to Junmin directly with an interesting problem/behaviour in a standard BCeID realm.

Original Trello ticket: https://trello.com/c/aJbolTo2/155-debugging-issues-of-refreshing-keycloak-token-in-hets-teams-single-page-applications

Background: HETS team reported i

[2021-08-19 18:45] nvunnamm commented on #1238
@ychung-mot Cookies has been enabled now in all environments. Please let us know if you face any issues.

[2021-08-19 19:03] nvunnamm commented on #1234
@rafasbcgov Removed grandfathered BCeID from your realm. Yes, It can be renamed, and is up to the realm administrator of the realm to change it :)

[2021-08-19 21:02] jennifer-dowd commented on #1229
Greetings Platform Team - I've been advised by my Technical Lead, @agahchen  that we no longer need this request to be processed. If you could cancel that would be great.

[2021-08-19 21:02] #1229 closed

[2021-08-19 21:07] jlangy commented on #1229
Thanks jennifer, we can cancel that request

[2021-08-19 22:13] ConradBoydElliottGustafson commented on #1236
@caggles @patricksimonian @ShellyXueHan Looks like this should have been tagged "sso". I created a new issue type for generic SSO requests, but people don't seem to be finding it: https://github.com/BCDevOps/devops-requests/blob/master/.github/ISSUE_TEMPLATE/keycloak_configuration_change.md

I've tagged this one now and the Pathfinder SSO team has it on our board and will deal with it. Feel free t

[2021-08-19 22:57] rafasbcgov commented on #1234
Awesome thanks, I've changed the display name and we'll adapt our code to use the new idp alias :)

Feel free to close this one.

[2021-08-20 00:06] #1234 closed

[2021-08-20 16:54] dragancolic-bcgov opened #1239 "access for the 4c2ba9-* namespaces"
Hi there,

I would need access for the 4c2ba9-* namespaces. I am on the MDS team with Aaron Unger as mine PO.

Thank you,
Dragan Colic

[2021-08-23 18:34] nvunnamm commented on #1236
@ll911
We have now added Basic and Business IDP in Dev and Test environments. You will notice that there is still Grandfathered BCeID (Basic, Business, Personal) attached to the realm as we want you to test the new implementation is working and your team is comfortable removing Grandfathered BCeID and start using Basic and Business IDP.
Please let us know after testing so that we can remove Grandf

[2021-08-24 16:02] patricksimonian commented on #1239
Hi there Dragan,

Namespace level access is acquired through your project lead or other namespace administrators.  It does look like you need access to the Openshift cluster its self however. If you can have one of your teammembers invite you into the bcgov/bcdevops github organizations using https://just-ask-web-bdec76-prod.apps.silver.devops.gov.bc.ca/ that would be awesome. From there you will

[2021-08-24 16:07] ShellyXueHan commented on #1237
@vyasworks project created, you are the admin!

[2021-08-24 16:07] #1237 closed

[2021-08-24 16:18] #1233 closed

[2021-08-24 16:20] ConradBoydElliottGustafson commented on #1181
Still waiting for IDIM approval

[2021-08-25 16:42] pwei1018 opened #1240 "Private repo access request"
## Step 1
Make sure no duplicated request exists, search here:
https://github.com/BCDevOps/devops-requests/issues

Make sure you have read the [FAQ](https://github.com/BCDevOps/devops-requests/).

## Step 2

Please invite the following folk to repo: bcgov-c/registries

Role | Name | Email | GH Handle
-- | -- | -- | --
BA | John Lane | john.a.m.lane@gov.bc.ca | JohnamLane

[2021-08-25 19:40] zsamji opened #1241 "SSO realm - 296gqjn5"
## Step 0
**Are you the product owner or project admin/team lead?**
If not, you will need to ask one of those two people to make this request for you.
We can't process realm requests except from individuals in these roles.

**Does the Admin User have an IDIR account?**
We use IDIR authentication for Realm Admin Users, so make sure there's a *valid IDIR* for the assigned realm admin.

## Step 2
Fie

[2021-08-25 20:35] zsamji opened #1242 "Request to delete zhgnjlkp"
## Step 0
**Are you the product owner or project admin/team lead?**
If not, you will need to ask one of those two people to make this request for you.
We can't process realm requests except from individuals in these roles.

**Does the Admin User have an IDIR account?**
We use IDIR authentication for Realm Admin Users, so make sure there's a *valid IDIR* for the assigned realm admin.

## Step 2
Fie

[2021-08-25 20:45] zsamji opened #1243 "Request to delete d2dc7evc"
## Step 0
**Are you the product owner or project admin/team lead?**
If not, you will need to ask one of those two people to make this request for you.
We can't process realm requests except from individuals in these roles.

**Does the Admin User have an IDIR account?**
We use IDIR authentication for Realm Admin Users, so make sure there's a *valid IDIR* for the assigned realm admin.

## Step 2
Fie

[2021-08-26 16:18] #1242 closed, assigned to junminahn, jlangy, arcshiftsolutions, zsamji, nvunnamm, ConradBoydElliottGustafson

[2021-08-26 16:18] #1241 closed, assigned to junminahn, jlangy, arcshiftsolutions, zsamji, nvunnamm, ConradBoydElliottGustafson

[2021-08-26 16:19] #1243 closed, assigned to junminahn, jlangy, arcshiftsolutions, zsamji, nvunnamm, ConradBoydElliottGustafson

[2021-08-26 18:02] zsamji opened #1244 "Realm configuration questions 2fcsb-sft-test"
Capturing ticket based on SSO discussions started on August 25th to build internal team knowledge.

[2021-08-26 21:01] sonalfulkar opened #1245 "openshift access"
I am not able to access openshift, even though my technical associate granted me access on my github account.
I was able to access it earlier with my another github account. I had switched my github account and now i am requesting the access from new account. Please look into the issue at your earliest convenience. Below are my github account details.

github username: sonalfulkar
github email: so

[2021-08-27 20:06] #1245 closed, assigned to nobody

[2021-08-30 16:18] ConradBoydElliottGustafson commented on #1238
Email from Clare (PO). Meeting today at 1 to clarify and understand.

[2021-08-30 17:16] Travis-A-Clark opened #1246 "OpenShift Access for Developer"
I am a PO requesting OpenShift access for a new developer on my team. See info below. Thanks!

Full Name: Dennis Cinco
GitHub ID: telusdcinco
Business Email Address: Dennis.Cinco@telus.com
Organization: Telus
Project Role: Developer
OpenShift Projects/Namespaces: Performance
332842-dev
332842-prod
332842-test
332842-tools

[2021-08-30 19:56] jinchuantang opened #1247 "Keycloak for WorkBC JobBoard project"
For detailed information on the service, please reference the [Pathfinder SSO Wiki](https://github.com/bcgov/ocp-sso/wiki).

**This GitHub request process is only applicable for teams looking for integration with BCeID through Pathfinder SSO.** If you only need IDIR login, use the [Pathfinder SSO Client Request Web App](https://bcgov.github.io/sso-requests/). If you are looking for integration for

[2021-08-30 21:02] patricksimonian commented on #1246
@Travis-A-Clark we do not grant access to namespaces for developers. Your technical lead or admin will be able to do that. Just make sure to add them as `telusdcinco@github` when you do create rolebindings. That being said  @telusdcinco will need to be apart of the bcdevops github organization in order to gain access to OCP itself.

You can do this by inviting him to the orgs with [just ask](https

[2021-08-30 21:37] jlangy commented on #1247
Hi @jinchuantang

We are always looking for “real user” feedback and have an opportunity with you. The good news of giving us feedback, is that you will have your IDIR configuration details by the end of our observation

Would you be willing to try our pilot app and have a few of our teams observe your interaction? If this approach works for you, our team can find 30-45 mins in your calendar.

Tha

[2021-08-30 22:24] jinchuantang commented on #1247
Hi @jlangy

Thank you for the offer. What is the new app? Is it Keycloak or something else?

Jack

[2021-08-30 22:36] jlangy commented on #1247
It is an app we are building to help users onboard quickly (for IDIR only integrations right now). You can use it to create new keycloak clients in the dev, test, and prod environments automatically

[2021-08-30 22:37] jlangy commented on #1247
The landing page for the application is [here](https://bcgov.github.io/sso-requests/) if you want to check it out

[2021-08-30 23:11] jinchuantang commented on #1247
ok, so if I understand correctly the app is just a self-service tool to provision keycloak, is that correct?
If that's the case, we're in.

[2021-08-30 23:13] jlangy commented on #1247
Awesome, and yes that's correct

[2021-08-31 02:30] zsamji commented on #1238
Confirmed with @ychung-mot no outstanding development technical issues. Provided recommendation to [skip keycloak login page ](https://github.com/bcgov/ocp-sso/wiki/Using-Your-SSO-Client#do-skip-the-keycloak-login-page). Recognized/aligned on all players involved in BC Gov IDP space. please do reach out on rocketchat or email if there's anything more we can help with(subsequent new ticket). thanks

[2021-08-31 02:30] #1238 closed

[2021-08-31 03:02] zsamji commented on #1244
team established the approach to use is "Open ended problem solving with client" to debug redirects and idir related issues.

[2021-08-31 03:02] #1244 closed

[2021-08-31 03:19] zsamji opened #1248 "Setup integration between Azure AD & SSO for IDIR"
Internall tracking:
Is your feature request related to a problem? Please describe.
Setup integration between Azure AD & SSO for IDIR. IDIM has setup a test instance which we can use to ensure we get the attributes we need in the token payload.

We have completed this integration. Chris was able to provide the IDIR GUID & user ID; after we added mappers to the identity provider, the attributes are

[2021-08-31 03:20] zsamji commented on #1248
https://github.com/bcgov/ocp-sso/issues/471

[2021-08-31 03:20] #1248 closed

[2021-08-31 19:14] patricksimonian commented on #1246
@Travis-A-Clark I've noticed you invited @telusdcinco . I will close this issue :)

[2021-08-31 19:14] #1246 closed

[2021-08-31 19:18] zsamji commented on #1247
Observation scheduled for Sept 1 based on client's request.

[2021-08-31 20:08] arcshiftsolutions commented on #1248
https://github.com/BCDevOps/developer-experience/issues/1193

[2021-09-01 16:10] jinchuantang commented on #1247
Hi Zorin,

Can we call off today’s meeting? I’m sick today.
Sorry for the inconvenience.

Sent from my iPhone

[2021-09-01 16:13] zsamji commented on #1247
@jinchuantang yes! we've rescheduled . take good care.

[2021-09-01 16:57] zsamji opened #1249 "Add user to realm uicn0kkh"
on behalf of @garywong-bc, I'm submitting this ticket, can we please add him as admin to realm uicn0kkh and notify him once he's been added.

Thanks in advance.

[2021-09-01 17:15] arcshiftsolutions commented on #1249
Have reached out to @garywong-bc to log into the realms so we can add him as an admin.

[2021-09-01 22:59] TimCsaky opened #1250 "Removal of Openshift Access and or BCGOV GitHub Organization Membership"
## Removing Access

If you are removing access please **provide responses to all the steps below**. All questions are mandatory.

Hello there
I'm requesting that a former member of our team (Mina Kang) have membership to the bcgov organization (on github) removed.

### Step 1

**Are you the Technical Lead?**
Yes

### Step 2
Fill out the following fields

* Project Name: Mina has worked on a few pr

[2021-09-02 19:23] chrisrobbo-aot opened #1251 "Access to protected space protected-platform-services"
## Step 0
**Are you the product owner or technical lead?**
If not, you will need to ask one of those two people to make this request.

## Step 1
Login to Documize with either an IDIR or GitHub account to create a Documize user record:
http://docs.developer.gov.bc.ca/

## Step 2
Make sure no duplicated request exists, search here:
https://github.com/BCDevOps/devops-requests/issues

## Step 3
Are yo

[2021-09-02 19:39] arcshiftsolutions commented on #1249
@garywong-bc is now an administrator in these realms.

[2021-09-02 19:39] #1249 closed

[2021-09-02 22:21] zsamji opened #1252 "Azure AD as part of KeyCloak realm that allows openshift access"
copying to our zenhub board. all details captured here
https://github.com/BCDevOps/developer-experience/issues/1609

[2021-09-02 22:22] zsamji commented on #1247
rescheduled to the week of Sept 7

[2021-09-02 22:26] zsamji opened #1253 "SDPR Introspection Question"
Sent email via internal rocketchat convo. logging here so we see this in daily standup

[2021-09-02 23:13] zsamji commented on #1253
meeting scheduled Sept 7

[2021-09-02 23:14] zsamji opened #1254 "Delete Realm evb5nv2r"
Confirmed with client to delete this realm as it is tied to https://github.com/BCDevOps/devops-requests/issues/713

[2021-09-02 23:15] zsamji commented on #1254
@sharpedavid Thx for your note and you will see confirmation of deletion here.

[2021-09-02 23:39] juhewitt commented on #1223
@arcshiftsolutions @ConradBoydElliottGustafson @brycereid73 I want to give this one a 'bump.'  Anything we can do to get this moving again?   I need to report to my executive where we are at.

[2021-09-03 00:08] arcshiftsolutions commented on #1223
Hi @juhewitt - I just reached out to Austin/Alex again in our channel to see if there's anything we can do to help move this forward.

![image](https://user-images.githubusercontent.com/51424896/131931222-a2313903-2971-4718-975e-5f6bf426523f.png)

[2021-09-03 00:22] arcshiftsolutions opened #1255 "Request to delete realm uicn0kkh"
## Step 0
Request to delete realm `uicn0kkh`.

Being requested by @garywong-bc (the realm admin).

## Step 2
Field the following information.

* Project Name: Dog and Cat Operator Registry

*  Keycloak realm
  - Realm ID: uicn0kkh

[2021-09-03 00:23] arcshiftsolutions commented on #1255
@garywong-bc to confirm approval.

[2021-09-03 00:29] arcshiftsolutions commented on #1255
Realms have been removed.

[2021-09-03 00:29] #1255 closed

[2021-09-03 15:43] mitovskaol commented on #1251
Access has been granted.

[2021-09-03 15:43] #1251 closed

[2021-09-07 17:48] jhmccoll opened #1256 "Please remove IDIR PAWSANDH (Pawan Sandhu) access required in Production realm vtkayq4c"
## Step 0
**Are you the Keycloak Realm Admin?**
If not, you will need to ask one of the admin user in your realm to make this request instead.
Yes for realm vtkayq4c

## Step 1
Provide some background on the user account issue.
- What is the issue with the user account? IDIR PAWSANDH was prematurely deleted last week. It has been recreated but user cannot access applications. She is receiving mess

[2021-09-07 18:56] arcshiftsolutions commented on #1256
User has been removed from the parent IDIR realm. Please ask the user to log in again.

[2021-09-07 18:56] #1256 closed

[2021-09-07 18:58] zsamji commented on #1253
shared do's and donts with client. waiting to hear back  https://github.com/bcgov/ocp-sso/wiki/Using-Your-SSO-Client

[2021-09-07 19:09] jhmccoll commented on #1256
Hi Marco,
  The user was able to successfully login now.

  Thanks so much for you help!

John

John McColl
Team Lead| SBC Technical Support
Strategic Services Branch | Service BC Division| Ministry of Citizens’ Services
T: 778 698-2702 | Web: http://www.servicebc.gov.bc.ca<http://www.servicebc.gov.bc.ca/>
“Access to government services made easy”

From: Marco Villeneuve ***@***.***>
Sent: Septemb

[2021-09-08 16:15] zsamji commented on #1253
meeting again today sept 8

[2021-09-08 16:53] arcshiftsolutions commented on #1252
Meeting with Nick & Chris around this later today.

[2021-09-08 17:00] jlangy commented on #1254
Deleted realm from dev, test, prod environments

[2021-09-08 17:56] zsamji opened #1257 "API Call & UPtime robot"
currently uptime for SSO Keycloak Only several longer than usually response time. this happens to several other services that we monitor, where the service url works but once user try to login or other actions, it’s not responding
It was still alive but no DB connections so it was likely throwing errors in the background.
An API call would be better

[2021-09-08 18:22] arcshiftsolutions commented on #1257
I've just provided @ShellyXueHan with the credentials/URLs in DEV for testing.

[2021-09-08 19:32] arcshiftsolutions commented on #1257
These have now been completed with @ShellyXueHan ; we have our new URL.

[2021-09-08 19:32] #1257 closed

[2021-09-08 19:45] fwpushan opened #1258 "Delete deactivated idir user account with user name PMITRA"
## Step 0
**Are you the Keycloak Realm Admin?**
If not, you will need to ask one of the admin user in your realm to make this request instead.

## Step 1
Provide some background on the user account issue.
- What is the issue with the user account?
`This account was deactivated account for InvaisvesBC project, no longer in use.`
- What result of debugging have you obtained that lead you to request

[2021-09-08 19:50] arcshiftsolutions commented on #1258
I've now removed Pushan's user in all three instances.

[2021-09-08 19:50] #1258 closed

[2021-09-08 19:56] #1254 closed

[2021-09-08 19:57] bcgov-hl opened #1259 "OpenShift Access Request for ECAS system - Hoang.Le@cgi.com"
Hi there,

I am from CGI developer supporting ECAS system. Could you please grant me the access to OpenShift?
I have a couple of support tickets to deal with

Thanks!
Hoang

[2021-09-08 21:33] zsamji opened #1260 "Remove user:"
## Step 0
**Are you the Keycloak Realm Admin?**
If not, you will need to ask one of the admin user in your realm to make this request instead.

**As per Rockethchat request**
## Step 1
Provide some background on the user account issue.
- What is the issue with the user account?
- What result of debugging have you obtained that lead you to request an account removal?
**remove a user from Openshift’

[2021-09-08 21:43] junminahn commented on #1260
@zsamji I believe we don't have the information of the realm itself?

[2021-09-08 21:53] junminahn commented on #1260
@zsamji I removed the user `dheepakramanathan` from `_idir` realm in the prod instance.

[2021-09-08 21:56] zsamji commented on #1260
@junminahn thank yoU!

[2021-09-09 15:44] zsamji commented on #1260
asking client to confirm to close

[2021-09-09 15:47] abschwenker commented on #1260
Issue is resolved. user is now logging into Openshift without issues. Thank you!

[2021-09-09 15:59] #1260 closed

[2021-09-09 16:18] zsamji commented on #1247
Observation completed and client has json config

[2021-09-09 16:18] #1247 closed

[2021-09-09 16:25] zsamji commented on #1236
@nvunnamm will look through realmomatic logs to find out who @ll911 is. Friendly ask @ll911 could you ping us in sso channel in rocket chat as we'd like to follow up with you

[2021-09-09 18:15] zsamji commented on #1253
client confirmed workaround and very much appreciated.

[2021-09-09 18:15] #1253 closed

[2021-09-09 18:41] jonathan-longe opened #1261 "SSO for RoadSafety's Digital Forms Project"
For detailed information on the service, please reference the [Pathfinder SSO Wiki](https://github.com/bcgov/ocp-sso/wiki).

**This GitHub request process is only applicable for teams looking for integration with BCeID through Pathfinder SSO.** If you only need IDIR login, use the [Pathfinder SSO Client Request Web App](https://bcgov.github.io/sso-requests/). If you are looking for integration for

[2021-09-09 18:51] zsamji commented on #1261
requesting meeting with client on Sept 14 11 am

[2021-09-09 18:53] ConradBoydElliottGustafson commented on #1236
@nvunnamm @zsamji Looks to me like that realm pre-dates realm-o-matic (records are here: https://github.com/bcgov-c/realm-o-matic-records/tree/master/records).

There are 4 realm admins for that realm. Might be worth sending them an email. https://dev.oidc.gov.bc.ca/auth/admin/master/console/#/realms/j3nwwef1/groups/62617a7f-cf5e-47ff-86b8-ad950ac159b2/members

[2021-09-09 18:54] jonathan-longe commented on #1261
Wow, that was fast!  Thanks for setting up a meeting so quickly Zorin.

[2021-09-09 19:38] jonathan-longe commented on #1261
@zsamji Adding some information that was missing above:

Executive Sponsor Name, Title, & Email:
Mary LaBoucane, Executive Director - Strategic Initiatives, mary.laboucane@gov.bc.ca

Project Manager / Business Lead Name, Title, & Email:
Brad Truswell, Director - Road Safety Systems Service Delivery, brad.truswell@gov.bc.ca

Anna Mantel, Product Owner - Digital Forms, anna.mantel@gov.bc.ca

Technic

[2021-09-10 16:21] arcshiftsolutions commented on #1252
Have created the DEV & TEST realms (_azureidir). Provided the redirectURIs and are now waiting for config from IDIM.

[2021-09-10 17:16] josekudiyirippil opened #1262 "Remove ANOJSZEW"
## Step 0
**Are you the Keycloak Realm Admin?**
If not, you will need to ask one of the admin user in your realm to make this request instead.
yes

## Step 1
Provide some background on the user account issue.
- What is the issue with the user account?
- What result of debugging have you obtained that lead you to request an account removal?
User came from another ministry and getting user already e

[2021-09-10 20:07] junminahn commented on #1262
@zsamji The user associated with username `anojszew` is removed from the parent realm `idir` in the production environment.

[2021-09-10 22:04] #1262 closed

[2021-09-13 23:39] zsamji opened #1263 "reverse proxy and redirect questions cbs-sft"
Refer to chat in [SSO channel](https://chat.developer.gov.bc.ca/channel/sso?msg=6XmqM2RGWCkpwFMmw)

[2021-09-13 23:40] zsamji commented on #1263
refer to [sso chat](https://chat.developer.gov.bc.ca/channel/sso?msg=6XmqM2RGWCkpwFMmw)

[2021-09-14 05:03] zsamji commented on #1263
@junminahn saved the day with Can you try again after adding * at the end of the uri?
https://test.jag.gov.bc.ca/csb-sft/ -> https://test.jag.gov.bc.ca/csb-sft/*

[2021-09-14 05:03] #1263 closed

[2021-09-14 06:42] zsamji commented on #1236
sent Leo an email. will keep open for another week or so

[2021-09-14 18:31] #1239 closed

[2021-09-14 19:46] jlangy commented on #1261
The dev and test environments have been setup

[2021-09-14 20:25] zsamji commented on #1261
@jonathan-longe we've provided the details via email. please do reach out via #sso if you have any additional q. All the best for your project

[2021-09-14 20:25] #1261 closed

[2021-09-14 22:30] josekudiyirippil opened #1264 "Delete amasingh"
## Step 0
**Are you the Keycloak Realm Admin?**
If not, you will need to ask one of the admin user in your realm to make this request instead.
yes

## Step 1
Provide some background on the user account issue.
- What is the issue with the user account?
- What result of debugging have you obtained that lead you to request an account removal?
new staff getting the error 'user with username amasingh a

[2021-09-14 23:38] junminahn commented on #1264
@josekudiyirippil the user associated with the username `amasingh` is deleted from `idir` realm in the production Keycloak environment.

[2021-09-14 23:40] #1264 closed

[2021-09-16 00:41] jTendeck opened #1265 "Chromatic App Integration Request"
## Step 0
**Do you have repos on bcgov GitHub Organization?**
If yes, please proceed with the request.

**If there is similar applications/tools available in the community, have you tried them out?**
There are many well supported community tools for various purposes, such SonarCube and BDDStack.
Before you start with the new tools, have you consider trying out those that are available and widely a

[2021-09-16 22:54] zsamji opened #1266 "FOM Production BCeID [ KeyCloak Realm ID ( ichqx89w ) ]"
See email/internal rocketchat for details

[2021-09-17 16:19] zsamji commented on #1266
team reviewed and will configure with ansible

[2021-09-17 17:46] avkleef opened #1267 "Removal of Openshift Access"
## Removing Access

If you are removing access please **provide responses to all the steps below**. All questions are mandatory.

### Step 1

**Are you the Technical Lead?**
If not, you need to ask your team's Technical Lead role to make this request on your behalf.
This person must already be a member of the bcgov GitHub Organization in order for us to process this request.

If you are a technica

[2021-09-18 00:04] jTendeck commented on #1265
Hi there!

It looks like it has been approved but it doesn't seem like we are able to use the application within the repo yet... it still says it is pending under authorized apps:

![image](https://user-images.githubusercontent.com/34200068/133864589-e0f55f78-cd45-4cf8-8103-2d9fdd9a0518.png)

Are there additional steps that are required?

Thanks for your help!

[2021-09-18 00:11] garywong-bc commented on #1125
Hi did this TEST realm end up being `dds-portfolio`?  If so I'd like to request the PROD/DEV levels next... here is the completed submission.  Thanks! Gary

* Organization Details (Organization/Division/Branch/Program):  FLNRORD/Coast Area/ FrontCounter BC

* **Executive Sponsor** Name, Title, & Email: Bagha, Kiran IIT:EX <Kiran.Bagha@gov.bc.ca>

* **Project Manager / Business Lead** Name, Title,

[2021-09-18 00:26] zsamji opened #1268 "follow up config q with Roadsafety Digital Forms"
placing here so we don't lose track of what we may or may not need to follow upwith

[2021-09-18 00:27] zsamji opened #1269 "New client for Standard Realm"
client from this ticket is very happy. need to reachout to them to try our webapp
https://github.com/BCDevOps/devops-requests/issues/1125#issuecomment-922142989

[2021-09-18 00:28] zsamji commented on #1269
RC: https://chat.developer.gov.bc.ca/channel/sso?msg=DMW2Ar5YsLLXGpF2x

[2021-09-18 00:29] zsamji commented on #1266
RC LINK: https://chat.developer.gov.bc.ca/group/Pathfinder-SSO-Team?msg=jAbHHxn6QhCw4J6Qm

[2021-09-18 00:32] jlangy commented on #1266
Added the BCeID IDP to the prod environment

[2021-09-18 03:39] zsamji commented on #1266
for reference: https://github.com/BCDevOps/devops-requests/issues/1151

[2021-09-18 05:11] zsamji opened #1270 "question on existing headers in standard realm"
are the headers in the out of box login KC page shared by all clients or can there be customization of the headers on a per client basis?

[2021-09-20 18:38] zsamji commented on #1268
@ConradBoydElliottGustafson is working to get @jlangy access. until then based on our standup,  I'll move this to done

[2021-09-20 18:38] #1268 closed

[2021-09-20 18:39] zsamji commented on #1266
@jlangy  moving to done on our behalf --- let me know if im wrong

[2021-09-20 18:39] #1266 closed

[2021-09-21 19:22] ShellyXueHan commented on #1265
@jTendeck I've approved the github app. Please check now. Thx!

[2021-09-21 19:26] #1250 closed

[2021-09-21 19:28] jTendeck commented on #1265
Perfect, thank you!

[2021-09-21 19:28] #1265 closed

[2021-09-21 19:28] ShellyXueHan commented on #1259
@bcgov-hl we don't handle access request from someone for themselves. Please have your product owner or technical lead to get you the access needed. They can find the link to access management app from issue template in this repo, or head over directly: https://just-ask-web-bdec76-prod.apps.silver.devops.gov.bc.ca/

[2021-09-21 19:28] #1259 closed

[2021-09-21 19:55] #1267 closed

[2021-09-21 20:34] conbrad opened #1271 "Install Renovate automated dependency Github App"
## Step 0
**Do you have repos on bcgov GitHub Organization?**
If yes, please proceed with the request.

**If there is similar applications/tools available in the community, have you tried them out?**
We have been using Github's built in [Dependabot](https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/about-dependabot-version-updates) tool,

[2021-09-21 22:42] conbrad commented on #1271
@mitovskaol thanks for approval! Is the app installation a separate step? I still don't see it in our integrations tab under settings.

[2021-09-21 23:13] mitovskaol commented on #1271
Our Platform Admins will have to install it first. They usually process the DevOps requests on Tue and Thu. Can you wait until Thursday or you need it before then?

[2021-09-21 23:18] w8896699 opened #1272 "Request to remove a duplicate user (BillyLi) from Keycloak"
Step 0
Are you the Keycloak Realm Admin?
If not, you will need to ask one of the admin user in your realm to make this request instead.

Step 1
Provide some background on the user account issue.

What is the issue with the user account?
I can not login to https://oidc.gov.bc.ca/auth
What result of debugging have you obtained that lead you to request an account removal?
I saw an existing user profi

[2021-09-21 23:22] w8896699 commented on #1272
![](https://chat.developer.gov.bc.ca/file-upload/naewoNEw2akSNpPLr/Screen%20Shot%202021-09-21%20at%204.14.07%20PM.png)

[2021-09-21 23:24] junminahn commented on #1272
@w8896699 I see `billy.li@gov.bc.ca` in `idir` realm in prod environment. can you confirm that this is the one?

[2021-09-21 23:46] conbrad commented on #1271
All good, Thursday works! Thanks again!

[2021-09-21 23:51] w8896699 commented on #1272
Yes, This is my email.

[2021-09-22 00:04] junminahn commented on #1272
@w8896699 the user associated with the username `BillyLi` in `idir` realm in the prod environment.

[2021-09-22 15:55] seeker25 opened #1273 "Request to create private bcgov-c repo for CDDS"
Hello,

I am requesting to create a private repo bcgov-c for CDDS (Court Digital Displays)

* Project Name: cdds
* GitHub Org: bcgov-c

I've emailed the other details.

[2021-09-22 16:22] junminahn commented on #1272
@w8896699 Hi Billy, can you confirm that you are not blocked anymore so that we can close this ticket? :)

[2021-09-22 16:26] rloisell commented on #1273
Please create this repo, with the owner being the @ag-pssg-isb-sa  GitHub account.

[2021-09-22 16:47] w8896699 commented on #1272
Hi @junminahn , I am still seeing the same error message😂. and still can not login

[2021-09-22 20:03] junminahn commented on #1272
@w8896699 I removed from `idir` and `devhub` both realms. can you try again?

[2021-09-22 20:06] acoard-aot opened #1274 "FOI-Flow Request for import GitHub repository on SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
Yes.

**Are you the admin user of the GitHub repositories?**
Yes, I have admin access to repository.

## Step 1

I completed the above and the org appeared as expected.

## Step 2
Fill out the following fields

* Project Name: FOI Modernization
* GitHub repositories to add to SonarCloud:
- https://github.com/bcgov/foi-flow
- https://

[2021-09-22 20:14] w8896699 commented on #1272
Error msg change! is now : User with username billyli@idir already exists. How do you want to continue?

[2021-09-22 20:57] arcshiftsolutions commented on #1272
@w8896699 - Can you please post a screenshot of the error along with the URL in the browser bar when the error occurs?

[2021-09-22 21:06] w8896699 commented on #1272
<img width="1575" alt="Screen Shot 2021-09-22 at 2 05 54 PM" src="https://user-images.githubusercontent.com/22565041/134421942-9c0ae747-dd63-40dd-bb0f-69e6de27862e.png">
@arcshiftsolutions

[2021-09-22 21:11] junminahn commented on #1272
@w8896699 I remove the users based on the email address this time. can you try again?

[2021-09-22 21:26] w8896699 commented on #1272
I can log in now! Thank you! You may close this issue now.

[2021-09-23 16:12] zsamji commented on #1272
moving to done on behalf of @junminahn (until his access is cleared)

[2021-09-23 16:12] #1272 closed

[2021-09-23 16:38] ShellyXueHan commented on #1271
Hi @conbrad I don't see an app request from bcgov. Please start a install request and I'll proceed and approve.

[2021-09-23 16:40] #1273 closed

[2021-09-23 16:41] ShellyXueHan commented on #1273
Repo created, @ag-pssg-isb-sa is the admin.

[2021-09-23 16:45] ShellyXueHan commented on #1274
@acoard-aot projects created in sonarcloud. You are the admin and can invite the rest of the team.

[2021-09-23 16:45] #1274 closed

[2021-09-23 16:45] acoard-aot commented on #1274
Thanks a ton!

[2021-09-23 17:09] conbrad commented on #1271
Hi @ShellyXueHan thanks for following up. For some reason I can't request the Renovate Github app for the bcgov org or our wps repository within it. I'm going to see if they have an action I can schedule instead and I'll keep you posted.

Thanks, again!

[2021-09-24 07:04] zsamji commented on #1269
set up meeting with @ccocker-hub October 6

[2021-09-24 07:06] zsamji commented on #1236
sent an email to @ll911 --- hoping for a response before the end of the month

[2021-09-24 15:42] zsamji commented on #1236
received "feel free to close the ticket, all works as expected. Thx."

[2021-09-24 21:23] arcshiftsolutions commented on #1252
We have added the configuration in DEV and it's fully working. We believe the client secret is off in TEST & PROD...Chris and I will regenerate new secrets and test it on Monday (he's off today).

[2021-09-25 00:27] zsamji commented on #1270
if we customize the KeyCloak landing page, it will be customized for all our clients in that standard realm. That being said, it’s on my backlog (as it was on my [predecessors](https://github.com/bcgov/ocp-sso/issues/50)) to apply appropriate UI/branding to our “keycloak out of log in page”.

Not in our current sprint priorities. I can keep you informed on the progress but at this point, I can’t c

[2021-09-25 00:27] #1270 closed

[2021-09-27 23:16] Nicole-Huard opened #1275 "Onboarding team member to RocketChat"
**Are you the product owner or technical lead?** We do not allow users to request access for themselves.Someone who is already a member of the BCDevOps Github org must request access for you, preferably your PO or technical lead.  Yes, Delivery Consultant

If you are a PO or technical lead and are the first person on your team to request access, continue with opening this ticket, and thencontact *

[2021-09-28 14:40] #1236 closed

[2021-09-28 17:48] conbrad commented on #1271
Hi @ShellyXueHan, we've got the action working in our pipeline now instead so I'll close this issue now. Thanks again for following up!

[2021-09-28 17:48] #1271 closed

[2021-09-28 20:53] ychung-mot opened #1276 "Pleaes fix the audience claim of HETS client in PROD and add a temprorary redirect URL for testing"
## Step 1
Confirm that you are submitting the right issue type.
Yes, I confirm.

## Step 2
1. The audience claim of hets client in PROD is supposed to be "hets" but currently it's "account". Please fix the value.
2. I would like to do a full test before go-live, so please add the following temprory redirect URL to the PROD Keycloak client. After testing I will make another request to remove it.

[2021-09-28 22:43] junminahn commented on #1276
this issue is closed as the client in the production environment for the HETS team is created and confirmed working.

[2021-09-28 22:43] #1276 closed

[2021-09-29 14:22] ychung-mot commented on #1276
I confirm that the client is working properly. Can you please remove the http://localhost:3000 from the redirect URL list?

[2021-09-29 20:35] arcshiftsolutions commented on #1252
This implementation is now working in DEV/TEST/PROD.

[2021-09-29 20:35] #1252 closed

[2021-09-29 21:12] dmstevens opened #1277 "Access to Open Shift Console"
I am part of the BCDevOps in Github, but I'm not able to access:
https://console.apps.silver.devops.gov.bc.ca/k8s/cluster/projects.

I just registered yesterday and I've already set up 2FA.

Thanks.
Delaina

[2021-10-01 19:36] zsamji opened #1278 "Single Sign-On Access to DMZ Scanners Question"
please contact @zsamji for content of email.

[2021-10-01 19:53] zsamji commented on #1278
Tied to Realm fyof530u and emailed realm admins for contact

[2021-10-01 22:31] zsamji commented on #1278
meeting set for oct 5

[2021-10-04 17:24] pturnbul opened #1279 "Request access to Grafana dashboard"
Working with Justin Hewitt and extended DevExchange team on utilization of current Openshift 4.x private cloud implementation.. need to review overall SILVER cluster utilization dashboard for reference.

[2021-10-04 17:49] zsamji opened #1280 "clean-transportation-data-hub questions on custom realm"
meeting scheduled later today on Oct 4

[2021-10-04 20:04] zsamji opened #1281 "j3nwwef1 in PROD"
please see email or rocketchat thread. Client wants : Production [Business BCeID] + [ Basic BCeID ] integration with Production BCeID f

[2021-10-04 20:47] juhewitt commented on #1279
@StevenBarre I think we'll need your help on this one this week.

[2021-10-04 20:57] jlangy commented on #1281
I added the basic and buiness to the production realm

[2021-10-04 20:57] #1281 closed

[2021-10-04 20:59] pturnbul commented on #1279
Thanks Justin.

[2021-10-04 21:54] zsamji commented on #1280
- The team was looking to use user role management within the shared realm
- This is no longer an option in our current setup
- We've asked the team to look into application level role management or alternatively standing up their own role management (KC)

[2021-10-04 21:54] #1280 closed

[2021-10-05 16:20] arcshiftsolutions commented on #1223
@NickCorcoran and I have now configured a SAML client to use with Splunk. We're able to log in via the Azure AD screen but on return we are hitting an issue with the redirect URI. It's currently an `http` value which appears to be localhost. We're following up with @ahenry on this specific issue.

[2021-10-05 17:01] NickCorcoran opened #1282 "Cluster Reader - Bruce Li"
1. **What is it?** Please provide an overview of what the request should do.
Cluster reader for all clusters for Bruce Li

2. **Why should this be a new request type?** A good rule of thumb: Does this involve something you don't have the permissions to do? If the answer yes, you're probably good to go ahead!

3. **What information is required to fulfill this request?** Do you best here - the Platf

[2021-10-05 17:44] ychung-mot opened #1283 "Please add HETS to SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
Yes

**Are you the admin user of the GitHub repositories?**
Yes

## Step 1
Login to SonarCloud console with your GitHub account https://sonarcloud.io/organizations/bcgov-sonarcloud/projects. Double check at https://sonarcloud.io/account/organizations to make sure `bcgov` GitHub organization is the current org. For debugging, please c

[2021-10-06 00:31] zsamji opened #1284 "confirm no users in the last 5 days in realm ju4h4snl"
## Step 0
@zsamji spoke with realm admin with comment "Aka never used it. You can turf it.The code we were going to archive or have already"

## Step 1

Please confirm no access has been made in the last 5 or so days in realm ju4h4snl

please reach out to@zsamji with q's

[2021-10-06 17:17] zsamji opened #1285 "Delete realm qx68oa5c"
Please confirm no access to this realm in the last 5 days. if so, please go ahead and delete as realm owner indicated "This realm is no longer associated with a project . you can remove it if required"

realm qx68oa5c

[2021-10-06 19:23] #1284 closed, assigned to junminahn

[2021-10-06 19:45] #1285 closed

[2021-10-06 21:44] zsamji opened #1286 "Delete realm jsgbqlip"
Client indicated this realm is no longer needed. reachout to @zsamji for details if needed.

Delete realm jsgbqlip

[2021-10-06 23:46] #1286 closed, assigned to junminahn, jlangy, arcshiftsolutions, zsamji, ConradBoydElliottGustafson

[2021-10-07 16:39] Nicole-Huard commented on #1275
Yes, thank you @ShellyXueHan

[2021-10-07 16:39] #1275 closed

[2021-10-07 17:39] #1277 closed

[2021-10-07 18:11] tyu-avo opened #1287 "Openshift access"
Hi there,
I have joined both BCDevOps and BC Gov organizations. However, I still don't have access to the openshift console via the link: https://console.apps.silver.devops.gov.bc.ca/k8s/cluster/projects

The link above just redirects me to this page: https://github.com/BCDevOps/devops-requests/issues/new?assignees=caggles%2C+ShellyXueHan%2C+patricksimonian&labels=openshift-access&template=openshi

[2021-10-07 23:28] zsamji opened #1288 "Realm 4368t2n5"
As per rocketchat thread. Platform services given the go ahead to delete

[2021-10-07 23:28] zsamji opened #1289 "Delete realm 4xj39v93"
As per rocketchat thread. Platform services given goahead to delete 4xj39v93

[2021-10-07 23:29] zsamji opened #1290 "Delete realm ng4ehfvx"
please confirm no usage before delete realm ng4ehfvx  (as per rockecthat) and platform services confirmation.

[2021-10-07 23:58] pturnbul commented on #1279
@juhewitt @StevenBarre confirmed that I need access to the OCP console in order to gain access to the Grafana Dashboards as the oauth in Grafana leverages the RBAC controls in the OCP cluster.. obviously I don't need access to the OCP Console nor do I want it... is there an easy way to provide say RO to the console so I can see the Grafana dashboards? When I try to access https://console.apps.silv

[2021-10-08 17:21] josekudiyirippil opened #1291 "User issue:VAWILLIA"
## Step 0
**Are you the Keycloak Realm Admin?**
If not, you will need to ask one of the admin user in your realm to make this request instead.
yes

## Step 1
Provide some background on the user account issue.
- What is the issue with the user account?
- What result of debugging have you obtained that lead you to request an account removal?
user VAWILLIA not able to login
VAWILLIA came over from SB

[2021-10-08 18:31] #1290 closed, assigned to junminahn, jlangy, arcshiftsolutions, zsamji, ConradBoydElliottGustafson

[2021-10-08 18:31] #1289 closed, assigned to junminahn, jlangy, arcshiftsolutions, zsamji, ConradBoydElliottGustafson

[2021-10-08 18:31] junminahn commented on #1288
the realm 4368t2n5 has been removed with the associated IDP clients.

[2021-10-12 21:02] josekudiyirippil opened #1292 "Adding "queue-management" to SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.
yes
**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be assi

[2021-10-13 17:42] JLWade opened #1293 "Private Repos for BCPRS"
## Step 0

**Are you looking to make a public repository?**
If you are a member of the public bcgov GitHub Organization, you are already able to make a new repo there yourself!
If you are not a member, please request membership using the appropriate ticket template instead of using this one.
This template is for **private** repos only.

**Are you a member of the private BCGOV GitHub Organization a

[2021-10-13 20:15] josekudiyirippil commented on #1292
hi team, any updates?

[2021-10-14 16:44] #1292 closed, assigned to caggles, patricksimonian, ShellyXueHan

[2021-10-14 16:50] ShellyXueHan commented on #1293
hello @JLWade I see that you are requesting for 3 repos for the project. We usually recommend team to go with mono repo where you can put the different micro-services code based into directories, that way makes your CICD setup and search easier. Please let us know if you have specific reason for splitting repos. If there are any sensitive information, feel free to respond to our team email instead

[2021-10-14 17:16] zsamji opened #1294 "clean up oc dev/test/prod users"
as discussed at standup need to clean up users in our Dev, Test and Prod tools

[2021-10-14 17:16] zsamji opened #1295 "clean up oc tools users"
as discussed at standup need to clean up users in our Dev, Test and Prod tools

[2021-10-14 18:15] #1294 closed, assigned to nobody

[2021-10-14 18:41] victorc-bcgov opened #1296 "Request for Keycloak Realm: WHIS"
## Before you start, you should know

For detailed information on the service, please reference the [Pathfinder SSO Wiki](https://github.com/bcgov/ocp-sso/wiki).

**This GitHub request process is only applicable for teams looking for integration with BCeID through Pathfinder SSO.**

If you only need IDIR login, use the [Common hosted Single Sign on (CSS)App](https://bcgov.github.io/sso-requests/).

[2021-10-14 19:49] #1293 closed, assigned to caggles, patricksimonian, mitovskaol, ShellyXueHan

[2021-10-15 17:22] ychung-mot opened #1297 "Remove user jmuri from Keycloak"
## Step 0
**Are you the Keycloak Realm Admin?**
No but the realm is one of the standard realm.

## Step 1
Provide some background on the user account issue.
- The user is experiencing the following duplicate user error when logging in.
   "User with username jmuri already exists. How do you want to continue?"

## Step 2
Deleting the user account from Keycloak will also remove records with any othe

[2021-10-15 17:26] mitovskaol commented on #1279
The changes in Silver will be applied at the CCM run on Oct 21.

[2021-10-15 17:26] #1279 closed

[2021-10-15 17:36] junminahn commented on #1297
@ychung-mot the user associated with username `jmuri` has been removed from `idir` realm in prod environment.
can you confirm that the issue has been resolved?

[2021-10-15 18:05] StevenBarre commented on #1282
https://github.com/bcgov-c/platform-gitops-gen/pull/278

Will be pushed to clusters next week

[2021-10-15 18:09] chrisrobbo-aot opened #1298 "Delete me from idir realm"
## Step 0
**Are you the Keycloak Realm Admin?**
If not, you will need to ask one of the admin user in your realm to make this request instead.

Olena has already removed me from all openshift realms
## Step 1
Provide some background on the user account issue.
- What is the issue with the user account?
- What result of debugging have you obtained that lead you to request an account removal?
-
My ID

[2021-10-15 18:15] #1297 closed, assigned to junminahn, jlangy, arcshiftsolutions, zsamji, ConradBoydElliottGustafson

[2021-10-15 18:15] junminahn commented on #1298
@chrisrobbo-aot the user associated with username `chrobins` has been removed from `idir` realm in the prod environment.

[2021-10-15 19:51] victorchong opened #1299 "Realm clean up & BCeiD Prod approval (formerly Remove Personal BCeID support from our realm)"
## Step 1
Make sure no duplicated request exists, search here:
https://github.com/BCDevOps/devops-requests/issues

Make sure you have read the [FAQ](https://github.com/BCDevOps/devops-requests/).

## Step 2
Please answer the following questions about the new request type:

1. **What is it?** Allow user to request that Personal BCeIDs be removed from selected realm. For example, IDIM has directed m

[2021-10-18 17:17] will-freshworks opened #1300 "Import MyHealth BC apps to SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be assigne

[2021-10-18 17:38] WRLloyd opened #1301 "GitHub Repo Request"
### Step 1

**Are you the Technical Lead?**
Yes, I am the Technical Lead.
Will be following up with contact @mitovskaol (Olena Mitovska) with a link to the ticket so she can approve it.

### Step 2
* Project Name: License Tracking
* Project Description: Development of a User License Tracking application using the Open Shift platform.
* Technical Lead Github ID: @WRLloyd
* GitHub Org: bcgov
* GitHu

[2021-10-18 17:48] WRLloyd commented on #1301
@mitovskaol: Hello Olena, could you please review and approve this request. Please let me know if there is any information that I have missed providing - this is my first of these requests. Thanks.

[2021-10-18 22:28] mitovskaol commented on #1301
@WRLloyd  All members of `bcgov` org can create their own public repos. I have emailed you an invite to join the bcgov org, once you join the org, you will be able to create your repo yourself.

[2021-10-18 22:28] #1301 closed

[2021-10-19 00:48] Nicole-Huard opened #1302 "Onboarding Greg Robinson"
**Are you the product owner or technical lead?**  Yes

**Do you have a GitHub account?**  gregnrobinson

**Do you have 2-factor-authentication enabled with your GitHub account?** Yes

[2021-10-19 18:49] rarmitag opened #1303 "Remove user account"
## Step 0
**Are you the Keycloak Realm Admin?**
If not, you will need to ask one of the admin user in your realm to make this request instead.

## Step 1
Provide some background on the user account issue.
- What is the issue with the user account?
- What result of debugging have you obtained that lead you to request an account removal?

## Step 2
Deleting the user account from Keycloak will also r

[2021-10-19 19:42] #1300 closed, assigned to caggles, patricksimonian, ShellyXueHan

[2021-10-19 20:16] mitovskaol commented on #1302
The invites have been sent for bcgov and BCDevOps org memberships.

[2021-10-19 20:16] #1302 closed, assigned to caggles

[2021-10-19 22:55] acoard-aot opened #1304 "SonarCloud - Add foi-requests repo"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
Yes

**Are you the admin user of the GitHub repositories?**
Yes
## Step 1
Done.

## Step 2
Fill out the following fields

* Project Name: foi-requests (also related to foi-flow which you have already added 😄  )
* GitHub repositories to add to SonarCloud:
-  https://github.com/bcgov/foi-requests
-

## Step 3
I will invite users later.

[2021-10-20 15:28] rarmitag opened #1305 "Please delete user"
## Step 0
**Are you the Keycloak Realm Admin?**
If not, you will need to ask one of the admin user in your realm to make this request instead.

## Step 1
Provide some background on the user account issue.
- What is the issue with the user account?
- What result of debugging have you obtained that lead you to request an account removal?

## Step 2
Deleting the user account from Keycloak will also r

[2021-10-20 15:43] junminahn commented on #1305
@rarmitag I removed `ccarlson` from `test` environment. please let us know if the issue has been resolved.

[2021-10-20 15:44] junminahn commented on #1303
@rarmitag I removed `edeng` from `test` environment again. please let us know if the issue is persistent.

[2021-10-20 18:27] rarmitag commented on #1303
Strange, I still see it in the UI.

[2021-10-20 18:32] arcshiftsolutions opened #1306 "Please add the following education project to SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
Yes

**Are you the admin user of the GitHub repositories?**
Yes

## Step 1
Yes

## Step 2
Fill out the following fields

* Project Name: Ministry of Education PEN Project
* GitHub repositories to add to SonarCloud:
- EDUC-PEN-NOMINAL-ROLL-API

## Step 3
To invite other team members onto sonarcloud, make sure the users have completed

[2021-10-20 18:55] junminahn commented on #1303
no worries, please let us know if the issue is persistent.

[2021-10-20 21:03] rarmitag commented on #1303
OK she logged out and back in and still see's "User already exists".

[2021-10-20 21:43] bburciaga opened #1307 "Openshift silver cluster access for me"
Hi my name is Brian Burciaga I work with @micheal-w-wells I need OpenShift cluster access. I don't need access to a specific project Micheal will do that. My IDIR is BBURCIAG

[2021-10-21 17:19] jlangy commented on #1291
No worries, glad that's working!

[2021-10-21 17:19] #1291 closed, assigned to junminahn, jlangy, arcshiftsolutions, zsamji, ConradBoydElliottGustafson

[2021-10-21 18:37] rarmitag commented on #1305
I had left a message for her to try and login. Doesn't look like she has. I will ask her again and keep you updated. Thanks.

[2021-10-21 21:08] Nicole-Huard opened #1308 "Onboarding for James Doherty"
**Are you the product owner or technical lead?** yes

**Do you have a GitHub account?** jmdoherty

**Do you have 2-factor-authentication enabled with your GitHub account?** yes

[2021-10-21 21:09] Nicole-Huard opened #1309 "Onboarding for Frank Thomas"
**Are you the product owner or technical lead?** Yes

**Do you have a GitHub account?** trankly

**Do you have 2-factor-authentication enabled with your GitHub account?** Yes

[2021-10-21 21:11] Nicole-Huard opened #1310 "Onboarding for Chris Markieta"
**Are you the product owner or technical lead?** Yes

**Do you have a GitHub account?** Markieta

**Do you have 2-factor-authentication enabled with your GitHub account?** Yes

[2021-10-21 21:43] #1308 closed, assigned to nobody

[2021-10-21 21:43] #1310 closed, assigned to nobody

[2021-10-21 21:43] #1309 closed

[2021-10-22 17:54] zsamji opened #1311 "GDX Q &A Session"
set up for Oct 25th

[2021-10-22 18:25] #1305 closed, assigned to junminahn, jlangy, arcshiftsolutions, zsamji, ConradBoydElliottGustafson

[2021-10-25 18:53] zsamji opened #1313 "HG Client suppport for loadtesting"
As part of client support for realm ff09qn3f, we need to be available for loadtesting on Oct 27th. More details in RC

[2021-10-25 21:59] #1311 closed, assigned to arcshiftsolutions, ConradBoydElliottGustafson

[2021-10-25 23:12] #1296 closed, assigned to junminahn, jlangy, arcshiftsolutions, zsamji, ConradBoydElliottGustafson

[2021-10-25 23:15] zsamji opened #1314 "Tracks Realm request"
Tied to Migration away from BCeID Personal

[2021-10-25 23:17] #1314 closed, assigned to nobody

[2021-10-26 16:25] dsandor716 opened #1315 "New namespace for Learning Curator"
## Step 1
Make sure no duplicated request exists, search here:
https://github.com/BCDevOps/devops-requests/issues

Make sure you have read the [FAQ](https://github.com/BCDevOps/devops-requests/).

## Step 2
Please answer the following questions about the new request type:

1. **What is it?** Please provide an overview of what the request should do.
We are looking for a sandbox namespace.
2. **Why

[2021-10-26 20:48] jhmccoll opened #1316 "Please remove user slmacleo@idir she cannot login to realm vtkayq4c applications"
## Step 0
**Are you the Keycloak Realm Admin?**
If not, you will need to ask one of the admin user in your realm to make this request instead.
Yes I am a Realm Admin for the production realm vtkayq4c

## Step 1
Provide some background on the user account issue.
- What is the issue with the user account?
- What result of debugging have you obtained that lead you to request an account removal?
The u

[2021-10-26 21:00] zsamji opened #1317 "Realm 4piqfpfu ready for prod"
Received email from IDIM Consulting

KeyCloak Realm ID (4piqfpfu) ready for Production [Business BCeID] + [ Basic BCeID . Please note this client is a custom realm.

please contact me if you have q's/need more details

[2021-10-26 22:03] pagustinqt20 opened #1318 "Follow up on openshift access"
Hello,

I would like to follow up the request for openshift. I already sent request last week.

thanks,
Princess

[2021-10-27 16:22] #1317 closed, assigned to junminahn, jlangy, arcshiftsolutions, zsamji

[2021-10-27 16:59] mmumby opened #1319 "Request to remove a duplicate user from Keycloak"
## Step 0
**Are you the Keycloak Realm Admin?** Yes.

## Step 1
Provide some background on the user account issue.
- What is the issue with the user account?
"User with username adlai already exists. How do you want to continue?" error
- What result of debugging have you obtained that lead you to request an account removal?
https://github.com/bcgov/ocp-sso/issues/68
We have gone through the steps

[2021-10-27 18:12] #1319 closed, assigned to junminahn, jlangy, arcshiftsolutions, zsamji, ConradBoydElliottGustafson

[2021-10-27 22:39] TimCsaky opened #1320 "Error when signing in via SSO"
## Step 0
**Are you the Keycloak Realm Admin?**
Yes

## Step 1
Provide some background on the user account issue.

A user of our CHEFS app has received errors when logging in.
![image](https://user-images.githubusercontent.com/58443522/139157107-64059d27-a2f8-49ff-8110-76043fed2203.png)

## Step 2
Deleting the user account from Keycloak will also remove records with any other application using Key

[2021-10-28 05:46] #1303 closed, assigned to junminahn, jlangy, arcshiftsolutions, zsamji, ConradBoydElliottGustafson

[2021-10-28 14:18] #1316 closed, assigned to junminahn, jlangy, arcshiftsolutions, zsamji, ConradBoydElliottGustafson

[2021-10-28 17:11] jhmccoll opened #1321 "Please remove user JECAMERO@idir from Keycloak. We cannot setup access in our production realm vtkayq4c for her."
## Step 0
**Are you the Keycloak Realm Admin?**
If not, you will need to ask one of the admin user in your realm to make this request instead.
Yes

## Step 1
Provide some background on the user account issue.
- What is the issue with the user account?
- What result of debugging have you obtained that lead you to request an account removal?
We have an application used to onboard/offboard staff from

[2021-10-28 19:36] #1321 closed, assigned to junminahn, jlangy, arcshiftsolutions, zsamji, ConradBoydElliottGustafson

[2021-10-28 20:34] oleg308 opened #1322 "Please provide access to openshift"
I need to access openshift for frontend development

[2021-10-28 20:50] #1320 closed, assigned to junminahn, jlangy, arcshiftsolutions, zsamji, ConradBoydElliottGustafson

[2021-11-01 16:14] mmumby opened #1323 "Request to remove a duplicate user from Keycloak"
## Step 0
**Are you the Keycloak Realm Admin?** Yes

## Step 1
What is the issue with the user account?
"User with username SGRIEVE already exists. How do you want to continue?" error
What result of debugging have you obtained that lead you to request an account removal?
KeyCloak login issue: user already exists bcgov/ocp-sso#68
We have gone through the steps in the above issue, The user has clear

[2021-11-01 16:25] arcshiftsolutions commented on #1323
Hi @mmumby - we've removed Scott from the parent IDIR realm for PROD. I did not find their user in TEST. Please ask the user to attempt a login in both environments to confirm. Thanks!

[2021-11-01 16:55] mmumby commented on #1323
@arcshiftsolutions That was successful, thank you!

[2021-11-01 16:57] #1323 closed

[2021-11-01 22:43] zsamji commented on #1313
support provided at load testing last week. monitored health over weekend. will close this

[2021-11-01 22:43] #1313 closed

[2021-11-01 22:53] MaxWardle opened #1324 "Cloud Pathfinder AWS LZ0 Realm Creation"
## Before you start, you should know

For detailed information on the service, please reference the [Pathfinder SSO Wiki](https://github.com/bcgov/ocp-sso/wiki).

**This GitHub request process is only applicable for teams looking for integration with BCeID through Pathfinder SSO.**

If you only need IDIR login, use the [Common hosted Single Sign on (CSS)App](https://bcgov.github.io/sso-requests/).

[2021-11-01 23:01] zsamji commented on #1324
will have meeting with Max on Nov 3

[2021-11-02 18:14] zsamji commented on #1322
have you used this site to make your request? Please go here https://registry.developer.gov.bc.ca/public-landing

[2021-11-02 22:21] zsamji commented on #1324
shared approaches clients can use with their existing realms.

[2021-11-02 22:21] #1324 closed

[2021-11-03 19:28] NovaVic opened #1325 "Keycloak Shared Realm for CSRS project"
## Step 1
Field the following information.

Project Name:  JSB Child Support Recalculation Services

## Step 2
Select BCeID identity provider flavour

  - [X] BCeID Basic
  - [ ] BCeID Business
  - [ ] Both BCeID Basic AND BCeID Business
  - [] IDIR (provided by default in all standard realms)

## Step 3
Provide a list of redirect URLs for each environment (DEV, TEST, PROD). *These are the URLs th

[2021-11-03 20:21] zsamji commented on #1325
scheduled for Nov 4th

[2021-11-04 00:15] zsamji commented on #1299
@victorchong please remind me the name of the realm you have where we should remove BCeID Personal. thanks!

[2021-11-04 16:51] zsamji opened #1326 "Local Keycloak questions from Lawrence"
capturing as a ticket

[2021-11-04 16:51] #1326 closed

[2021-11-04 23:04] zsamji commented on #1325
CSS APP Request - 991

[2021-11-04 23:04] #1325 closed

[2021-11-05 00:34] ckayfish opened #1329 "Add Basic BCeID to dev/test realm zdw7o87 & Update details"
## Step 1
Not onboarding, removing a duplicate user or deleting a realm.

## Step 2
We need Basic BCeID authentication added as a federated identity for our dedicated realm. I understand you can only add this to dev & test right now, and we will need to engage IDIM before we can use it in prod.

We also want to update the contact and other details you have for this realm. Rather than being used ju

[2021-11-05 00:36] arcshiftsolutions commented on #1329
Thanks @ckayfish - let me process this for you now.

[2021-11-05 02:36] arcshiftsolutions commented on #1329
Hi @ckayfish - we've made a change to the realm name and have made you an administrator.

We've also added the basic BCeID IDP in the dev & test envs. Please let us know if you have any issues. Thanks!

[2021-11-05 02:36] #1329 closed

[2021-11-05 05:06] gil0109 opened #1330 "Request an installation of an Operator"
## Step 1
Make sure no duplicated request exists, search here: Confirmed.
https://github.com/BCDevOps/devops-requests/issues

## Step 2
Please answer the following questions about the new request type:

1. **What is it?** I am looking to install an operator to run NIFI.  https://orange-opensource.github.io/nifikop/docs/1_concepts/1_introduction
2. **Why should this be a new request type?** Develop

[2021-11-05 22:32] jeromepwc opened #1331 "Adding "State" param when redirecting back after a successful SSO"
**Project Name**: TTI_POC
**Realm**: onestopauth-basic
**Resource**: tti-poc-1025

**General Description of the Problem**

- We are trying to implement an SP-initiated SSO using Salesforce as the SP. I've successfully configured Salesforce's login page to include an option to SSO with Pathfinder. In our OAuth request, we are including "State" as part of our request and our expectation is that same

[2021-11-05 22:44] junminahn commented on #1331
@jeromepwc `state` param is included mostly for `Public` client workflows to enable `Authorization Code Flow with PKCE`. I see the client `tti-poc-1025` is set for `Confidential Client Type`. Would you want to create another `Public Client` to try it out?

[2021-11-05 22:50] jeromepwc commented on #1331
@junminahn Yes please!

[2021-11-05 22:57] zsamji commented on #1331
if you still have questions @jeromepwc , could I suggest a quick meeting next week(i can schedule) to understand a bit more about your project and the gov counterparts you are working with?

[2021-11-05 23:10] jeromepwc commented on #1331
hi @zsamji I would like to first try the public client and see if that solves the issue. Although I may take you up on that meeting offer next week. Thanks.

[2021-11-08 20:04] jeromepwc commented on #1331
hi @zsamji I'll take you up on that meeting offer. Would you be able to provide your available slots this week? In addition, I would also like to include Sean.vanderLeeden@gov.bc.ca in the meeting and future email communication (if any).
thanks

[2021-11-08 20:19] zsamji commented on #1331
@jeromepwc hope 30 mins will be enough. set up sometime on the 10th :)

[2021-11-08 20:27] jeromepwc commented on #1331
@zsamji may I know what's your email address?

[2021-11-08 20:31] zsamji commented on #1331
@jeromepwc i've sent to your gov email address from my gov email. thanks

[2021-11-08 20:34] jeromepwc commented on #1331
@zsamji unfortunately, I don't know how to access my gov email address. Would you be able to send me an email to jerome.julba @ pwc.com?

[2021-11-08 21:45] lbenso opened #1332 "Access Request"
Hi there, I am having difficulties accessing our OpenShift namespace here: https://console.apps.silver.devops.gov.bc.ca/k8s/cluster/projects/ca94a8-tools but am not having any luck getting in. Scott has added me as an admin to all four namespaces, but whenever I click the link it takes me to this github page to create a help ticket.

https://console.apps.silver.devops.gov.bc.ca/

I'm thinking I ne

[2021-11-09 19:39] caggles commented on #1332
Please have your PO or tech lead go to https://just-ask-web-bdec76-prod.apps.silver.devops.gov.bc.ca/ and add you to the appropriate github orgs!

[2021-11-09 19:39] #1332 closed

[2021-11-09 19:40] caggles commented on #1322
Please have your PO go to https://just-ask-web-bdec76-prod.apps.silver.devops.gov.bc.ca/ - they can add you to the appropriate github orgs!

[2021-11-09 19:40] #1322 closed

[2021-11-09 19:41] caggles commented on #1318
Please have your PO or tech lead go to https://just-ask-web-bdec76-prod.apps.silver.devops.gov.bc.ca/ and add you to the appropriate github orgs! You can find more information here: https://developer.gov.bc.ca/User-access-into-Github-or-Openshift

[2021-11-09 19:41] #1318 closed

[2021-11-09 19:41] #1307 closed

[2021-11-09 19:41] caggles commented on #1307
Please head to https://developer.gov.bc.ca/User-access-into-Github-or-Openshift and have your PO follow the instructions for adding you to the appropriate github org, if this issue is still outstanding!

[2021-11-09 19:43] acoard-aot commented on #1304
Hi there, would anyone be able to help with this?  I'm already in the sonarcloud system but we need a new repository added.  This is kind of a rush job and involves a security audit, so if this can be handled quickly it would be greatly appreciated.  If there is anything you need from my side please don't hesitate to reach out.  Thank you.

[2021-11-09 20:10] ShellyXueHan commented on #1304
@acoard-aot project setup on sonarcloud now! Sorry about for the late response. Not sure how your request slip through our regular check up time (usually Tuesdays and Thursdays). If this happen again, please poke us directly on the ticket for response!

[2021-11-09 20:10] #1304 closed

[2021-11-09 20:11] ShellyXueHan commented on #1282
@NickCorcoran @bruce-wh-li this should be done already, please double check and close the ticket. Thx!

[2021-11-09 20:31] acoard-aot commented on #1304
Thanks Shelly, no worries, appreciate the response.

On Tue, Nov 9, 2021 at 12:10 PM Shelly Han ***@***.***> wrote:

[2021-11-09 21:28] #1282 closed

[2021-11-09 22:58] zsamji opened #1333 "Realm itrjxgs9"
Technical Lead is @abschwenker and it seems like this realm is no longer needed.
Team should chat about this and if we need, we can ask questions or set up time with @abschwenker

This was the only other reference i could find: https://github.com/BCDevOps/devops-requests/issues/1221

[2021-11-09 23:40] caggles commented on #1315
Hi! This template is typically used to request new ticket templates be added to this repo - if you're looking for a new namespace, you should head over to https://registry.developer.gov.bc.ca/public-landing and request a new project set there!

[2021-11-09 23:40] #1315 closed

[2021-11-10 03:49] zsamji commented on #1299
@victorchong thanks for your note

Pathfinder SSO team,I'll post more/confirm at standup. Summary we need to do two things

1.  we need to remove BCeiD Personal from the following realms
•	0jjhl1lc
•	srmm7sdn

2. and add Prod BCeID Basic + BCeID Business to srmm7sdn

[2021-11-10 17:10] arcshiftsolutions commented on #1299
Following has been completed:

- Removed BCeID from srmm7sdn in DEV & TEST
- Added Business/Basic IDP to srmm7sdn in DEV/TEST/PROD
- BCeID IDP was not present in 0jjhl1lc

[2021-11-10 17:26] arcshiftsolutions commented on #1333
Realms have now been removed in DEV/TEST/PROD.

[2021-11-10 17:26] #1333 closed

[2021-11-10 18:01] arcshiftsolutions commented on #1299
We've now done the following:

- Removed Business & Basic IDPs in DEV/TEST/PROD
- Added Business BCeID IDP in DEV/TEST/PROD

[2021-11-10 21:13] junminahn commented on #1331
@jeromepwc Hi Jerom, can you try removing `response_mode:=fragment'` from the base query params and try again?

[2021-11-10 22:09] jeromepwc commented on #1331
@junminahn we have a new error!!!
After removing response_mode=fragment, the callback URL las the state:

The new error is related to invalid token:

[2021-11-10 22:10] jeromepwc commented on #1331
You can reproduce the error through

1. https://civilresolutionbc--springdev.my.salesforce.com/
2. Click "PathfinderSSOConfidential" button below

[2021-11-10 22:20] junminahn commented on #1331
@jeromepwc okay, I think you are almost there.
It seems like the backend server fails in validating the `access_token` from the SSO service.
What is `Auto Provider ID` in your SalesForce` configuration page?

[2021-11-10 22:34] jeromepwc commented on #1331
@junminahn Auth Provider Id : 0SO4m00000000CC

[2021-11-10 22:38] junminahn commented on #1331
@jeromepwc right. I guess the provider id is not editable?
Would you mind giving us the all properties that are editable in the `Auth Provider Detail` section?

[2021-11-10 22:51] jeromepwc commented on #1331
@junminahn looking at this [SF doc](https://help.salesforce.com/s/articleView?id=sf.sso_provider_openid_connect.htm&type=5), it might be related to the "Token Issuer".

When I keep the UserInfo endpoint blank, the error is:

When I set the UserInfo endpoint to : https://dev.oidc.gov.bc.ca/auth/realms/onestopauth/protocol/openid-connect/userinfo
that is when I get the invalid token error. My guess

[2021-11-10 22:56] junminahn commented on #1331
@jeromepwc yes, when most of the sso frameworks validate the tokens, it does a couple of things.
1. validate the keys from `jwks uri`  to validate the signature.
2. compare the `aud` with the client id.

the `jwks uri` for the realm your team uses is
https://dev.oidc.gov.bc.ca/auth/realms/onestopauth-basic/protocol/openid-connect/certs

[2021-11-10 23:01] jeromepwc commented on #1331
@junminahn
Setting the UserInfo and Token Issuer to the URI above yields a different error. It seems like we're getting closer.

[2021-11-10 23:18] junminahn commented on #1331
@jeromepwc tries to match the `iss` from the token payload with one that the backend server expects.
Hopefully, there is a section to set up the expected `iss` value, otherwise, it would be difficult to make it work.
Would you mind sending us the screenshot of the configuration page? you can email me if not wanting to have the screenshot in this thread.
junmin@button.is

[2021-11-10 23:28] jeromepwc commented on #1331
@junminahn email sent. (For some unknown reason, I'm unable to attach an image here.)

[2021-11-10 23:30] junminahn commented on #1331
![salesforce](https://user-images.githubusercontent.com/36021827/141210144-63ccbb61-0bfe-42f3-9a65-b74c032e5736.png)

[2021-11-10 23:36] jeromepwc commented on #1331
Token Issuer: https://dev.oidc.gov.bc.ca/auth/realms/onestopauth-basic/protocol/openid-connect/certs

[2021-11-10 23:41] junminahn commented on #1331
@jeromepwc it is looking for `issuer` value from the configuration URL
https://dev.oidc.gov.bc.ca/auth/realms/onestopauth-basic/.well-known/openid-configuration

The configuration URL includes most of the endpoints required for the SSO connection configurations.
and when backend validating the token it should match the `issuer` from the configuration and `iss` attribute of the token payload.
What

[2021-11-10 23:49] jeromepwc commented on #1331
oh, my issuer configuration might have been wrong. When I changed it to the issuer URL in your link above : "issuer":"https://dev.oidc.gov.bc.ca/auth/realms/onestopauth-basic"

I'm getting a new error, which is something I know how to fix (but will require a bit of coding).

I will work on this error and will update this thread. Thanks @junminahn and @arcshiftsolutions for all the troubleshooting

[2021-11-10 23:55] junminahn commented on #1331
@jeromepwc great, I am we are very close, I see `Registration Handler` in the screenshot is missing. It might be something internal handler in the SalesForce framework. I will see what it says when clicking the `search icon` beside it.

[2021-11-12 22:10] jeromepwc commented on #1331
closing ticket. We've successfully implemented Pathfinder SSO with Salesforce.
Thanks!

[2021-11-12 22:10] #1331 closed

[2021-11-12 22:24] zsamji opened #1334 "Service Accounts - internal team chat"
As a site reliability engineer,
I want to have `IDIR` service account available
So I can set its credentials into `uptime.com` for checking the site availability.

[2021-11-16 17:34] zsamji commented on #1334
Request Number: REQ0190936
Request Item Number: RITM0259648

[2021-11-17 18:13] zsamji commented on #1334
service account created.

[2021-11-17 18:13] #1334 closed

[2021-11-18 00:09] zsamji opened #1335 "Q&A with Transportation Gateway and keycloak"
meeting set up for Nov 22

[2021-11-18 19:58] bdolor opened #1336 "digital marketplace"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
_affirmative_

**Are you the admin user of the GitHub repositories?**
_affirmative_

## Step 1
Double check at https://sonarcloud.io/account/organizations to make sure `bcgov` GitHub organization is the current org.
_affirmative_

please check if you are a member of bcgov GitHub Organization.
_affirmative_

## Step 2
Fill out the fol

[2021-11-18 22:39] zsamji opened #1337 "Delete realm 244wvp9w"
As captured in rocketchat @jeremy-vernon-bcgov  has given is ok to delete this realm

[2021-11-18 22:45] jlangy commented on #1337
Deleted realm from dev,test,prod environments

[2021-11-18 22:45] #1337 closed

[2021-11-23 17:06] zsamji commented on #1335
met with team and @Joe-Craig @davidsaxton-TRAN are aware how to reach out Pathfinder SSO team

[2021-11-23 17:06] #1335 closed

[2021-11-23 18:35] victorchong commented on #1299
@arcshiftsolutions It looks like we're good for srmm7sdn , but we are missing Business BCeID in DEV/TEST/PROD for **0jjhl1lc**.

[2021-11-23 20:58] arcshiftsolutions commented on #1299
Hey @victorchong - we've now added Business BCeID to 0jjhl1lc (DEV/TEST/PROD). Thanks man!

[2021-11-23 21:03] zsamji commented on #1299
Nov 10 from Client:
For srmm7dsn, we only need IDIRs and Business BCeIDs.
to remove Basic and Personal BCeIDs for realm srmm7dsn

Nov 9 from IDIM
Please implement a Production [Business BCeID] + [ Basic BCeID ] + [ Personal BCeID ] integration with Production BCeID for TRACKS(srmm7sdn) at your earliest convenience.

[2021-11-23 21:14] zsamji commented on #1299
Nov 9 from client
Could you please remove Personal BCeIDs from the following two realms: 0jjhl1lc – BCTW
Nov 9 from IDIM TRACKS srmm7sdn - dedicated split from BCTW 0jjhl1lc  [translation 0jjhl1lc   and srmm7sdn  to be the same]

[2021-11-23 21:46] pwei1018 opened #1338 "Request to remove a duplicate user (LMALLIKA) from keycloak"
## Step 0
**Are you the Keycloak Realm Admin?**
If not, you will need to ask one of the admin user in your realm to make this request instead.

## Step 1
Provide some background on the user account issue.
- What is the issue with the user account?
Lekshmi is a contactor. She had two idir account before LMALLIKA and  LEMALLIK during previous jobs. Currently, 77000 re-assign the LMALLIKA to her. How

[2021-11-23 21:54] arcshiftsolutions commented on #1338
Hi @pwei1018 - we've removed Lekshmi's account in DEV/TEST. Please ask her to log in again. Thanks!

[2021-11-24 16:25] jhmccoll opened #1339 "Please remove IDIR SROGINA from realm vtkayq4c"
## Step 0
**Are you the Keycloak Realm Admin?**
If not, you will need to ask one of the admin user in your realm to make this request instead.
yES

## Step 1
Provide some background on the user account issue.
- What is the issue with the user account?  User account SROGINA cannot login to production application The Q realm vtkayq4c .
- What result of debugging have you obtained that lead you to re

[2021-11-24 16:34] jlangy commented on #1339
@jhmccoll The user is removed from the production realm. Please let me know if that solves their issue

[2021-11-24 17:04] jhmccoll commented on #1339
Confirmed successful login to The Q with CSR.

Thanks so much!

[2021-11-24 17:04] #1339 closed

[2021-11-24 20:02] jhmccoll opened #1340 "Request to remove duplicate user CCOTTON"
## Step 0
**Are you the Keycloak Realm Admin?**
If not, you will need to ask one of the admin user in your realm to make this request instead.
Yes

## Step 1
Provide some background on the user account issue.
- What is the issue with the user account?
- What result of debugging have you obtained that lead you to request an account removal?
IDIR CCOTTON cannot login to The Q production application

[2021-11-24 20:05] jlangy commented on #1340
@jhmccoll I removed the user from production. Please let me know if that fixes their issues

[2021-11-24 20:10] jhmccoll commented on #1340
Hello,
  Access confirmed with CSR after removal of duplicate.
Thanks so much!
John

[2021-11-24 20:10] #1340 closed

[2021-11-24 20:12] Nicole-Huard opened #1341 "Onboarding Dave Briand"
**Are you the product owner or technical lead?** Yes

If you are a PO or technical lead and are the first person on your team to request access, continue with opening this ticket, and thencontact **[@mitovskaol](https://github.com/mitovskaol)** (Olena Mitovska) through RocketChat or BCGov email with the URL of the ticket so that she can approve this request.

**Do you have a GitHub account?** dave

[2021-11-24 21:59] zsamji opened #1342 "verify and delete realm sbc"
Hi team

@pwei1018 confirmed that sbc realm has been successfully migrated to another realm. as noted in one of our tickets, i can't get the latest from metabase, so can you please confirm, there's been no activity in realm sbc over the last two weeks and if so, then delete it?

thanks so much :)

and RC me if there are any questions :)

Z

[2021-11-24 22:19] zsamji commented on #1342
triple checking with client --- hold on before actioning this work team :)

[2021-11-25 21:12] pwei1018 commented on #1338
Thanks, Lekshmi can login with her idir now.

[2021-11-25 21:19] pwei1018 commented on #1342
Yes, our team doesn't use it anymore.

[2021-11-25 21:53] #1338 closed

[2021-11-25 22:00] zsamji opened #1343 "Request to have flow modified teacher-resources"
As discussed during the Nov 25, meeting with @jinchuantang regarding flow config change to only show one IDP
1.	Client: work-bc-teacher-resources
o	Environment: Prod (internal gov staff use at this time not “real teachers”

[2021-11-25 23:21] zsamji opened #1344 "Q&A with team on fider and idphint/alterative"
NRM team is busy and will connect with us ideally by end of next week (Dec 1) to see if our manual flow change works for them

[2021-11-26 00:26] jlangy commented on #1343
@jinchuantang  I added that config change into the dev/test/prod **work-bc-teacher-resources** clients. Please let me know if that redirection is working for you (should go straight to idir with no IDP selection screen)

[2021-11-26 00:49] jlangy commented on #1343
@jinchuantang sorry jumped the gun a bit there, updates to our clients will override the configuration and we will have to make some changes to our application to prevent that before the new configuration will last long term. I will let you know when those are in place so the config change will stay

[2021-11-26 22:56] arcshiftsolutions opened #1345 "Please add EDUC-PEN-REG-BATCH-API to SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
Yes

**Are you the admin user of the GitHub repositories?**
Yes

## Step 1
Login to SonarCloud console with your GitHub account https://sonarcloud.io/organizations/bcgov-sonarcloud/projects. Double check at https://sonarcloud.io/account/organizations to make sure `bcgov` GitHub organization is the current org. For debugging, please c

[2021-11-29 21:55] zsamji opened #1346 "Client questions on using Pathfinder SSO keycloak"
through rocketchat, Office of the Representative for Children and Youth, has a few question.

[2021-11-30 20:04] Kyle-UL opened #1347 "Please remove Personal BCeID as an IDP off of our realm: j94mtfjj"
Hi,

We would like Personal BCeID removed as an IDP option for our Keycloak realm, j94mtfjj.  We understand that the shared Keycloak realm does not allow Personal BCeID as a sign-in option, and we would like our realm to have parity with the shared realm for security purposes.

This request comes from UrbanLogiq, who is working on an integrated application with the BC Government that allows single

[2021-11-30 20:35] zsamji commented on #1342
confirmed with SBC team to remove this realm

[2021-11-30 21:08] arcshiftsolutions commented on #1342
Thanks @zsamji - removing them now

[2021-11-30 21:10] arcshiftsolutions commented on #1342
Realms have been removed.

[2021-11-30 21:10] #1342 closed

[2021-11-30 21:14] arcshiftsolutions commented on #1347
Hi @Kyle-UL - are you looking for Business & Basic BCeID? Or just Business? Just Basic?

To clarify, we're going to add a new IDP to your realm which will provide this functionality (in addition) to your existing BCeID IDP. You can remove the existing BCeID when your team is ready.

[2021-11-30 21:19] Kyle-UL commented on #1347
Thanks for the quick reply @arcshiftsolutions !  We are looking for just Business & Basic BCeID (same as the shared realm).

[2021-11-30 21:37] Kyle-UL commented on #1347
Of course, I'd be happy to.  I've accepted Zorin's meeting invite.

[2021-12-01 00:42] zsamji commented on #1343
@jinchuantang we've implemented our automation for the idp hint and configured such that your integration should not be negatively impacted. COuld you please do a sanity test for us and let us know either here or RC and we will work to resolve for your asap.

[2021-12-01 20:40] arcshiftsolutions opened #1348 "Please add the following projects to SonarCloud"
## Step 0
Yes

**Are you the admin user of the GitHub repositories?**
Yes

## Step 1
Login to SonarCloud console with your GitHub account https://sonarcloud.io/organizations/bcgov-sonarcloud/projects. Double check at https://sonarcloud.io/account/organizations to make sure `bcgov` GitHub organization is the current org. For debugging, please check if you are a member of bcgov GitHub Organization.

[2021-12-01 20:50] zsamji commented on #1344
sent note to client @ccocker-hub

[2021-12-01 21:23] victorchong commented on #1299
Thanks kindly to the team! Everything looks awesome-possum now. Cheers! @zsamji, let's close this ticket up. :-)

[2021-12-01 21:24] #1299 closed

[2021-12-01 21:53] zsamji commented on #1347
met with client and this is now closed. BCeID Personal removed

[2021-12-01 21:53] #1347 closed

[2021-12-02 01:03] zsamji commented on #1346
met with client. IDIR only needed and addressed questions. client knows how to reach out

[2021-12-02 01:03] #1346 closed

[2021-12-02 21:31] zsamji opened #1349 "Remove realm xszntxg1"
as discussed in rocketchat - this is a custom realm for our team that we do not need

[2021-12-02 21:52] zsamji commented on #1349
@arcshiftsolutions says this is done. and i will quote Nsyc "bye bye bye"

[2021-12-02 21:52] #1349 closed

[2021-12-03 18:22] loneil opened #1350 "Remove duplicate user malhassa in cp1qly2d"
## Step 0
**Are you the Keycloak Realm Admin?**
If not, you will need to ask one of the admin user in your realm to make this request instead.
**Yes**

## Step 1
Provide some background on the user account issue.
- What is the issue with the user account?
- What result of debugging have you obtained that lead you to request an account removal?
IDIR user **malhassa** is getting the "User with usern

[2021-12-03 18:52] zsamji commented on #1350
@loneil  we may have a self service feature and curious if you'd be willing to try and we'd like to do a user observation --- can we set up a quick 15/20 min chat today -- i'll find you on RC

[2021-12-03 20:52] zsamji commented on #1350
@loneil please close this ticket once user has confirmed.thansk!

[2021-12-07 00:38] loneil commented on #1350
Can see user malhassa has logged in as needed. Thanks!

[2021-12-07 00:38] #1350 closed

[2021-12-08 16:13] kamal-mohammed opened #1351 "Please add these Github repositories to SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?** Yes
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?** Yes
The request requires a repository administrator to make the request. The requestor will be

[2021-12-08 21:36] zsamji opened #1352 "need o meet to remove duplicate chrobins"
Selecting each of the options doesn’t seem to work ….. I have a feeling this is related to my IDIR being deleted accidentally a month ago, then reinstated. I encountered this with some of the other lab Keycloak logins, there is some caching happening which links (probably ) IDIR to email to Git – however , my idir (chrobins) is the same name, but now probably with a different GUID. \

[2021-12-09 00:00] junminahn commented on #1352
SSO team had a brief meeting with Chris and unblocked the issue he had.

[2021-12-09 00:00] #1352 closed

[2021-12-10 19:33] #1345 closed

[2021-12-10 19:35] #1348 closed

[2021-12-14 06:23] zsamji commented on #1343
note sent to client

[2021-12-14 06:23] zsamji commented on #1344
note sent to client

[2021-12-14 17:18] #1343 closed

[2021-12-16 19:32] rgreensp opened #1353 "Can't log in with IDIR"
## Description

When I try to log in to services like Rocket Chat and Realmomatic, I get a message that says I am using an existing user name.
When I try to merge with existing account, I get message asking for password
When I type my IDIR password, it says invalid password
I believe my IDIR account my still be connected to my previous employment email rachel@button.is

## Step 1
Make sure no dupl

[2021-12-16 20:33] zsamji commented on #1344
client is happy, closing this :)

[2021-12-16 20:33] #1344 closed

[2021-12-16 21:06] zsamji commented on #1353
@rgreensp realmomatic is decommissioned and replaced with https://bcgov.github.io/sso-requests

try looking here for rocketchat https://developer.gov.bc.ca/Steps-to-join-Rocket.Chat

[2021-12-21 19:08] kevinginley opened #1354 "KeyCloak login issue: user already exists"
Hello,

I am getting an error when I try to log into Keycloak and applications that use Keycloak. After inputting my IDIR (KGINLEY) and password, I get a message:

"User with <email/username> already exists. How do you want to continue?" with the options:
Review profile
Add to existing account

(neither do anything)

I've tried clearing my cache, reopening the browser, and trying different browser

[2021-12-21 19:16] jlangy commented on #1354
Hello @kevinginley, we could remove the old idir account to fix this. I should note that deleting the user account from Keycloak will also remove records with any other application using Keycloak that you have logged into. Would that be okay for you?

[2021-12-21 19:20] kevinginley commented on #1354
Yes that is OK, please proceed. Thank you for checking.

From: Jonathan Langlois ***@***.***>
Sent: December 21, 2021 11:17 AM
To: BCDevOps/devops-requests ***@***.***>
Cc: Ginley, Kevin IIT:EX ***@***.***>; Mention ***@***.***>
Subject: Re: [BCDevOps/devops-requests] KeyCloak login issue: user already exists (Issue #1354)

[EXTERNAL] This email came from an external source. Only open attachments

[2021-12-21 19:23] jlangy commented on #1354
Sounds good, I removed the old account. Please let me know if that fixes the issue

[2021-12-21 21:58] rloisell opened #1355 "AG/PSSG private repo request."
## Step 0

**Are you looking to make a public repository?**
If you are a member of the public bcgov GitHub Organization, you are already able to make a new repo there yourself!
If you are not a member, please request membership using the appropriate ticket template instead of using this one.
This template is for **private** repos only.

**Are you a member of the private BCGOV GitHub Organization a

[2021-12-22 18:07] ikethecoder opened #1356 "Configure to only use Business BCeID"
## Step 1
Confirm that you are submitting the right issue type.
* If you are wanting to onboard to Pathfinder SSO, please read the [Onboarding Documentation](https://github.com/bcgov/ocp-sso/wiki/SSO-Onboarding).

* If you are asking for a duplicate user to be removed from KeyCloak, please use the issue type: [Request to remove a duplicate user from Keycloak](https://github.com/BCDevOps/devops-req

[2021-12-22 18:10] zsamji commented on #1356
Pathfinder sso team - as this is a clean up to remove personal bceid from this custom team, we can go ahead and do this as I know this is a priority from our friends at idim

[2021-12-22 18:25] jlangy commented on #1356
Hello @ikethecoder, I switched over the IDP to just bceid-business for the DEV and TEST realms. Please let me know if that is all that you needed, cheers!

[2021-12-22 21:59] rloisell commented on #1355
CC: @sookeke

[2021-12-22 22:35] wenzowski commented on #1353
@zsamji the context of this request is that @rgreensp also cannot access https://registry.developer.gov.bc.ca/public-landing in order to request a namespace set. Any objections to asking @jlangy or @junminahn to delete her identity from the keycloak realm so her IDIR works again?

[2021-12-22 22:39] wenzowski commented on #1353
I can replicate this issue via my ENV IDIR:
![registry developer gov bc ca_public-landing](https://user-images.githubusercontent.com/597920/147162934-2e085854-2281-4249-acba-ac429a24e3aa.png)
![logon7 gov bc ca_clp-cgi_int_logon cgi_flags=1000_1,0 TYPE=33554433 REALMOID=06-fb0eaeef-4838-47c5-9181-09e15ecf282e GUID= SMAUTHREASON=0 METHOD=GET SMAGENTNAME=$SM$uf%2bzUAKb1uzEJ8LH6tuAK9htvmdDn2PYWGJwPAL

[2021-12-22 22:42] zsamji commented on #1353
@wenzowski No issues to have our team remove here old idir :)

[2021-12-22 22:45] jlangy commented on #1353
@wenzowski I removed rachel's old account, let me know if that solves the issue

[2021-12-22 22:50] wenzowski commented on #1353
@rgreensp we'll need the `username` you're getting from the error message (shouldn't be case sensitive...but just in case) so the team can delete the old conflicting IDIR

[2021-12-22 23:55] rgreensp opened #1357 "IDIR Authentication not working for RocketChat"
I am not able to access Rocket chat using my IDIR. When I try to validate my IDIR, I get an error message that says "unexpected error when authenticating with identity provider.  I believe this is related to my previous Issue where my prior vendor email. Please fix.

## Step 1
Make sure no duplicated request exists, search here:
https://github.com/BCDevOps/devops-requests/issues

Make sure you hav

[2021-12-23 01:27] rgreensp commented on #1353
@jlangy - Doesn't look like this worked. Anything else you can try?

I'm trying to access https://registry.developer.gov.bc.ca/public-landing

![Screenshot (51)](https://user-images.githubusercontent.com/13056177/147173666-c0864445-7313-4ae5-ab6a-4b375a5b29c3.png)

[2021-12-23 17:00] jlangy commented on #1353
Hey @rgreensp I will try one other thing shortly and let you know

[2021-12-23 17:09] junminahn commented on #1353
I believe that the conflict in the devhub realm not in the parent realm.

[2021-12-23 17:11] jlangy commented on #1353
Yes @junminahn I was just going to check if we could get that through the realm registry app, I don't have admin access to it though

[2021-12-23 17:28] jlangy commented on #1353
@rgreensp can you try out logging into devhub again and see if that is fixed?

[2021-12-23 17:31] #1336 closed

[2021-12-23 17:33] bdolor commented on #1336
🍰

[2021-12-23 19:03] jhmccoll opened #1358 "IDIR JBROWN cannot login to our production realm vtkayq4c applications"
## Step 0
**Are you the Keycloak Realm Admin?**
Yes
Not sure --> log in to the [Keycloak Custom Realm Registry](https://realm-registry.apps.silver.devops.gov.bc.ca/) and if you see your realm, go to STEP 1. If you don't see it, ask the product owner to submit this request or go to STEP 2

Yes--> go to STEP 1

No --> you will need to ask one of the admin user in your realm to make this request inst

[2021-12-23 19:08] jlangy commented on #1358
Hello @jhmccoll, we have a new app to help realm owners clear out users. Would you mind trying out visiting [this app](https://realm-registry.apps.silver.devops.gov.bc.ca/my-dashboard) and let me know if you were able to find and delete the user?

[2021-12-23 19:12] jhmccoll commented on #1358
Hi Jonathon
  I did use the application as per the instruction and it returned the following message:

      The user was found in a realm that you do not own. Please fill out this Github issue <https://github.com/BCDevOps/devops-requests/issues/new?assignees=jlangy%2C+junminahn%2C+arcshiftsolutions%2C+zsamji%2CConradBoydElliottGustafson&labels=sso-delete-user%2C+sso&template=keycloak_user_removal

[2021-12-23 19:20] jlangy commented on #1358
Oh sorry, I missed that you had tried that already. I removed them from the realm, would you mind seeing if that fixed their issue? Their may be a clash in the parent realm that is still causing some problems

[2021-12-23 19:31] jhmccoll commented on #1358
Hi Jonathan,
  I have emailed the CSR.. she is in a call right now but I have asked her to try to login again to production.

  I will keep you posted.

Thanks for you quick response.. much appreciated!

John

John McColl
Team Lead| SBC Technical Support
Strategic Services Branch | Service BC Division| Ministry of Citizens’ Services
T: 778 698-2702 | Web: http://www.servicebc.gov.bc.ca<http://www.

[2021-12-23 19:42] jhmccoll commented on #1358
Hi Jonathan,
  Jaime is still unable to login with her IDIR JBROWN.

John

John McColl
Team Lead| SBC Technical Support
Strategic Services Branch | Service BC Division| Ministry of Citizens’ Services
T: 778 698-2702 | Web: http://www.servicebc.gov.bc.ca<http://www.servicebc.gov.bc.ca/>
“Access to government services made easy”

From: Jonathan Langlois ***@***.***>
Sent: December 23, 2021 11:21 AM

[2021-12-23 20:00] jlangy commented on #1358
It is clashing with another IDIR I believe, I am just looking into if the other one is good to remove to fix that and will get back

[2021-12-23 20:01] jhmccoll commented on #1358
Sounds goods.. thanks Jonathan.

John McColl
Team Lead| SBC Technical Support
Strategic Services Branch | Service BC Division| Ministry of Citizens’ Services
T: 778 698-2702 | Web: http://www.servicebc.gov.bc.ca<http://www.servicebc.gov.bc.ca/>
“Access to government services made easy”

From: Jonathan Langlois ***@***.***>
Sent: December 23, 2021 12:01 PM
To: BCDevOps/devops-requests ***@***.***>

[2021-12-23 20:54] jlangy commented on #1358
I removed the old account that I suspect was causing the conflict. The user should be good to login now, but please let me know if there are still issues

[2021-12-23 21:15] jhmccoll commented on #1358
Thanks Jonathan.  I was able to help the CSR get connected now. She is very happy.
All the best!

[2021-12-23 21:15] #1358 closed

[2021-12-23 21:16] jhmccoll commented on #1358
Hi Jonathan,
  All good now.. thanks for all your help.

I have updated the Issue ticket and closed now.

  Take care!

John

John McColl
Team Lead| SBC Technical Support
Strategic Services Branch | Service BC Division| Ministry of Citizens’ Services
T: 778 698-2702 | Web: http://www.servicebc.gov.bc.ca<http://www.servicebc.gov.bc.ca/>
“Access to government services made easy”

From: Jonathan Lang

[2021-12-23 22:01] rgreensp commented on #1353
@jlangy - It worked! Thank you!

[2021-12-23 22:01] #1353 closed

[2021-12-23 22:03] rgreensp commented on #1357
Thank you @wenzowski. Fixed.

[2021-12-23 22:03] #1357 closed

[2021-12-31 18:26] jhmccoll opened #1359 "IDIR mostephe (Morna Stephensson) is receiving duplicate error message trying to login to prod realm vtkayq4c"
## Step 0
**Are you the Keycloak Realm Admin?**
Yes
Not sure --> log in to the [Keycloak Custom Realm Registry](https://realm-registry.apps.silver.devops.gov.bc.ca/) and if you see your realm, go to STEP 1. If you don't see it, ask the product owner to submit this request or go to STEP 2

Yes--> go to STEP 1

No --> you will need to ask one of the admin user in your realm to make this request inst

[2021-12-31 19:43] junminahn commented on #1359
@jhmccoll the user associated with `jhmccoll` has been removed from `vtkayq4c` and `idir` realms.

[2021-12-31 19:48] jhmccoll commented on #1359
I confirmed that user mostephe was removed from vtkayq4c production realm.

Thanks

[2021-12-31 19:48] #1359 closed

[2022-01-04 17:02] Kyle-UL opened #1360 "Please remove Personal and Basic BCeID as IDP for the j94mtfjj realm (Business BCeID only)"
Hi,

A few weeks ago I submitted a request to remove Personal BCeID as an IDP option for our realm (j94mtfjj).  The request can be found here - [https://github.com/BCDevOps/devops-requests/issues/1347](https://github.com/BCDevOps/devops-requests/issues/1347) .

I would like to expand this request to also remove Basic BCeID accounts as a valid IDP sign-in option to that same realm, in addition to P

[2022-01-04 17:11] zsamji commented on #1354
@kevinginley can you please confirm this issue can be closed?

[2022-01-04 17:12] zsamji commented on #1356
@ikethecoder please advise if you've got that you needed

[2022-01-04 17:38] arcshiftsolutions commented on #1360
We've now:

- Removed Basic & Business IDP (DEV & TEST)
- Removed Basic, Personal & Business IDP (DEV & TEST)
- Added Business only IDP (DEV & TEST)

[2022-01-04 17:45] #1354 closed

[2022-01-04 17:48] arcshiftsolutions commented on #1360
@Kyle-UL - Please confirm everything is as you expect. 🙂

[2022-01-04 18:00] Kyle-UL commented on #1360
@arcshiftsolutions Thank you, looks good to me!

[2022-01-04 18:52] #1360 closed

[2022-01-04 18:56] jengibbens opened #1361 "Addition of Business BCeID and Basic BCeID to KeyCloack realm jgwhdzgs for DEV and Test"
We are looking to evaluate the use of BCeIDs to access the WebEOC application, which is currently enabled for SSO through IDIR only. Requesting addition of BCeID integration to our KeyCloak realm for dev and test only in order to determine its applicability. Thanks!

[2022-01-05 19:35] zsamji commented on #1361
@jengibbens can you confirm that your team is using this on the SSO custom realm jgwhdzgs?

[2022-01-05 21:09] TylerMuhly opened #1362 "Please re-add me to the bcgov org"
I needed to re-set my 2FA with github and got removed from bcgov org as a result. Please add me again to the org and as admin to my repo. Thanks!

GitHub Repository Request:
- Project: bcgov/clus
- Project description: https://github.com/bcgov/clus
- Approver: ???
- Repo Owner GitHub ID: TylerMuhly

[2022-01-05 21:18] mitovskaol commented on #1362
The invites to join the bcgov and BCDevOps orgs have been resent

[2022-01-05 21:18] #1362 closed

[2022-01-05 21:21] TylerMuhly commented on #1362
thank you!

[2022-01-06 19:17] jhmccoll opened #1363 "Duplicate user Justine Matheson causing login issue in production real vtkayq4c"
## Step 0
**Are you the Keycloak Realm Admin?**
Yes
Not sure --> log in to the [Keycloak Custom Realm Registry](https://realm-registry.apps.silver.devops.gov.bc.ca/) and if you see your realm, go to STEP 1. If you don't see it, ask the product owner to submit this request or go to STEP 2

Yes--> go to STEP 1

No --> you will need to ask one of the admin user in your realm to make this request inst

[2022-01-06 19:22] jlangy commented on #1363
Hello @jhmccoll, I removed the user account. Please let me know if that fixes the issue

[2022-01-06 20:13] jhmccoll commented on #1363
Hello,
  The CSR just verified that she has access with her new IDIR account now.  Everything is working now.

   Thank you so much for the quick response!
Jhn

[2022-01-06 20:13] #1363 closed

[2022-01-07 00:09] rstens opened #1364 "SonarCloud connect for new repo: https://github.com/bcgov/restoration-tracker"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
Yes

**Are you the admin user of the GitHub repositories?**
Yes

## Step 1
Login to SonarCloud console with your GitHub account https://sonarcloud.io/organizations/bcgov-sonarcloud/projects. Double check at https://sonarcloud.io/account/organizations to make sure `bcgov` GitHub organization is the current org. For debugging, please c

[2022-01-07 01:10] jhmccoll commented on #1363
Hi Jonathan
  I just wanted to let you know that this resolved the issue.

  Thanks for your prompt attention to this issue.

Regards,
John

John McColl
Team Lead| SBC Technical Support
Strategic Services Branch | Service BC Division| Ministry of Citizens’ Services
T: 778 698-2702 | Web: http://www.servicebc.gov.bc.ca<http://www.servicebc.gov.bc.ca/>
“Access to government services made easy”

From

[2022-01-07 20:55] TylerMuhly opened #1365 "Lost my admin role on my repos"
Hi there!

Sorry, but I can't seem to push to any of my repos, and I don't seem to have access to the "Settings" tab anymore. I thought maybe I needed to update my PAT, but that seems all good.

How do I get back an admin role on my repos? Or am I missing something?

These are my repos:
https://github.com/bcgov/FAIB_wildlife
https://github.com/bcgov/CaribouBC
https://github.com/bcgov/FAIB_org
http

[2022-01-07 21:28] mitovskaol commented on #1365
Hi Tyler, you will need to contact the owner of each repo to get your access back, most likely it was removed when your account was removed from the org because it was missing the 2FA. Our team has no control over access to individual repos that belong to Ministries.

[2022-01-07 21:31] TylerMuhly commented on #1365
Hi Olena - the problem is that I am the owner on most of these. How do I get that back? Thanks.

[2022-01-07 22:29] mitovskaol commented on #1365
@TylerMuhly Unfortunately  I do not have the power to make you Owner of these repos again (there is no such option in the role dropdown in GitHub)  but you can contract the people who are currently Admins for these repo to have you added as Admin.

[2022-01-07 22:52] TylerMuhly commented on #1365
@mitovskaol - so what do I do in this case: I'm the only contributor to this repo ->https://github.com/bcgov/FAIB_wildlife. I still need it, I can't delete it and create a new one. Do I need to create one from scratch and this becomes orphaned then?

[2022-01-07 23:06] mitovskaol commented on #1365
@TylerMuhly I was able to add you as Admin to this repo, other repos in your list should have Admins that can give you access back for those repos.

[2022-01-07 23:14] TylerMuhly commented on #1365
@mitovskaol - ok thanks Olena!

[2022-01-07 23:14] #1365 closed

[2022-01-10 16:16] arranfw opened #1366 "SonarCloud connect for new repo: https://github.com/bcgov/ehpr2"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
Yes

**Are you the admin user of the GitHub repositories?**
Yes

## Step 1
Verified `bcgov-sonarcloud` is attached to my sonarcloud account

## Step 2

* Project Name: EHPR (Emergency Health Provider Registry)
* GitHub repositories to add to SonarCloud: https://github.com/bcgov/ehpr2

## Step 3
To invite other team members onto sonar

[2022-01-10 19:02] #1355 closed

[2022-01-10 19:02] ShellyXueHan commented on #1355
repo created with the admin user/team specified.

[2022-01-10 19:09] #1351 closed

[2022-01-10 19:09] ShellyXueHan commented on #1351
@kamal-mohammed repos added to sonarcloud and you are the admin of them!

[2022-01-10 19:11] ShellyXueHan commented on #1364
@rstens repo created on sonarcloud and you are the admin.

[2022-01-10 19:11] #1364 closed

[2022-01-10 19:12] ShellyXueHan commented on #1366
@arranfw  repo created on sonarcloud and you are the admin.

[2022-01-10 19:12] #1366 closed

[2022-01-10 19:12] ShellyXueHan commented on #1341
@Nicole-Huard do you need any help onboarding Dave?

[2022-01-10 19:13] rstens commented on #1364
thanks!

[2022-01-10 21:08] kamal-mohammed commented on #1351
Thank You @ShellyXueHan

[2022-01-10 22:06] gjlawran commented on #1356
@zsamji   - I can confirm this is correct - we do no require the use of personal BCEIDs and would not encourage their adoption in the future.

Thanks!
cc @ikethecoder

[2022-01-10 23:00] ikethecoder commented on #1356
Yes @jlangy thanks, our dev and test both work correctly with just the Business BCEID.

[2022-01-10 23:00] #1356 closed

[2022-01-11 17:14] kamal-mohammed commented on #1351
Hi @ShellyXueHan, the last one is missing in Sonarcloud. Can you please add it when you get a chance?

- https://github.com/bcgov/EDUC-RULE-ENGINE-API

[2022-01-11 21:58] ShellyXueHan commented on #1351
got it!

[2022-01-12 05:19] zsamji commented on #1361
confirmed with client's product owner on this request.

[2022-01-12 05:25] zsamji opened #1368 "realm jgwhdzgs would like basic and business bceid in DEV and TEST"
## Step 1
Confirm that you are submitting the right issue type.
* If you are wanting to onboard to Pathfinder SSO, please read the [Onboarding Documentation](https://github.com/bcgov/ocp-sso/wiki/SSO-Onboarding).
NA

* If you are asking for a duplicate user to be removed from KeyCloak, please use the issue type: [Request to remove a duplicate user from Keycloak](https://github.com/BCDevOps/devops-

[2022-01-12 05:27] zsamji commented on #1361
going forward with ticket  https://github.com/BCDevOps/devops-requests/issues/1368 and closing this one

[2022-01-12 05:27] #1361 closed

[2022-01-12 05:27] zsamji commented on #1368
fyi - new github ticket created @jengibbens

[2022-01-12 17:15] mitovskaol commented on #1330
This work is now scheduled for action and will be tracked in [this ticket](https://app.zenhub.com/workspaces/platform-experience-5bb7c5ab4b5806bc2beb9d15/issues/bcdevops/developer-experience/2122). Once we and ServiceBC had a chance to evaluate the operator in the LAB, we will decide if it will be installed in Silver.

[2022-01-12 17:15] #1330 closed

[2022-01-12 17:30] #1368 closed, assigned to junminahn, jlangy, arcshiftsolutions, zsamji

[2022-01-17 23:37] #1341 closed

[2022-01-18 19:01] jduyn opened #1369 "Remove user ychung from Keycloak"
## Step 0
No but the realm is one of the standard realm.

## STEP 2
The user is experiencing the following duplicate user error when logging in.
"User with username ychung already exists. How do you want to continue?"

Note: Deleting the user account from Keycloak will also remove records with any other application using Keycloak that the user has logged into. So before proceeding with this reques

[2022-01-18 20:10] zsamji opened #1370 "Client cannot save in realm registry"
Client cannot save techncial contact or project name in realm registry. realm name ```c746eb```

[2022-01-18 21:57] #1370 closed

[2022-01-18 21:57] zsamji commented on #1370
client confirmed it is working now

[2022-01-18 22:18] junminahn commented on #1369
@jduyn IDIR user `ychung` has been removed in `idir`, `onestopauth-business` realms of dev, test, and prod environments.

[2022-01-21 17:23] zsamji commented on #1369
@ychung-mot @jduyn can you please confirm this issue resolved for you and close this card?

[2022-01-21 20:48] jduyn commented on #1369
Yes, it can be closed.

Thanks,
James

From: zsamji ***@***.***>
Sent: January 21, 2022 9:24 AM
To: BCDevOps/devops-requests ***@***.***>
Cc: Duyndam, James TRAN:EX ***@***.***>; Mention ***@***.***>
Subject: Re: [BCDevOps/devops-requests] Remove user ychung from Keycloak (Issue #1369)

[EXTERNAL] This email came from an external source. Only open attachments or links that you are expecting from a

[2022-01-21 20:50] #1369 closed

[2022-01-24 21:16] vyasworks opened #1371 "Request Sonarcloud for BC Symptom Checker"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
Yes - https://github.com/bcgov/myhealthBC-symptom-checker

**Are you the admin user of the GitHub repositories?**
Yes I am the admin

## Step 1
Login to SonarCloud console with your GitHub account https://sonarcloud.io/organizations/bcgov-sonarcloud/projects. Double check at https://sonarcloud.io/account/organizations to make sure `b

[2022-01-26 17:54] seeker25 opened #1372 "Requesting project to be added to SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be assigne

[2022-01-29 03:07] DerekRoberts opened #1373 "Request: Import GitHub Repository to SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be assigne

[2022-02-02 17:34] will-freshworks opened #1374 "bcgov/anti-viral-self-assessment added to SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be assigne

[2022-02-02 17:45] ninosamson commented on #1374
@ShellyXueHan, can you kindly expedite this request? We are completing the STRA for this initiative so we can launch.

[2022-02-02 17:46] ninosamson commented on #1371
@ShellyXueHan Gentle nudge on this one as well.

[2022-02-02 23:57] arcshiftsolutions opened #1375 "Please add the EDX-API repository to SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be assigne

[2022-02-04 19:04] #1371 closed

[2022-02-04 19:05] ShellyXueHan commented on #1371
Repo added in sonarcloud. @vyasworks is the admin now!

[2022-02-04 19:06] ShellyXueHan commented on #1372
Repo added in sonarcloud. @seeker25 is the admin now!

[2022-02-04 19:06] #1372 closed

[2022-02-04 19:18] ShellyXueHan commented on #1374
@will-freshworks repo added and you are the admin!

[2022-02-04 19:18] #1374 closed

[2022-02-04 19:19] ShellyXueHan commented on #1375
@arcshiftsolutions repo added and you are admin!

[2022-02-04 19:19] #1375 closed

[2022-02-04 19:54] DerekRoberts commented on #1373
@ShellyXueHan bcgov-nr is a stop-gap and testbed. Please add to bcgov.

[2022-02-04 20:06] ShellyXueHan commented on #1373
@DerekRoberts the repo can only belong to one sonarcloud org, so I'll need you to first remove it from `bcgov-nr` and let me know when it's ready to proceed!

[2022-02-05 17:22] DerekRoberts commented on #1373
@ShellyXueHan Done!  Please don't let me hold us up any further.  :)

[2022-02-07 17:05] ShellyXueHan commented on #1373
@DerekRoberts added now! you are also admin of it, all good to go!

[2022-02-07 17:05] #1373 closed

[2022-02-09 19:22] zsamji opened #1376 "35r1iman"
@victorchong requires realm 35r1iman to have both a **Production** [Business BCeID] + [ Basic BCeID ] integration

If dev and test realms do not have NO Personal BCeID can you please ensure production also does not have this

Thanks

[2022-02-09 19:42] arcshiftsolutions commented on #1376
@victorchong - We've now added Business/Basic to `35r1iman` in PROD. Please let us know if you have any issues!

@zsamji - Confirmed only IDIR was in place in PROD.

[2022-02-09 19:42] #1376 closed

[2022-02-10 18:53] DerekRoberts opened #1377 "Request: Rename/Reimport GitHub Repository to SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be assigne

[2022-02-15 21:42] DerekRoberts commented on #1377
@ShellyXueHan Any movement on this?

[2022-02-15 23:28] DerekRoberts commented on #1377
Fixed in SonarCloud settings.  Thanks!

[2022-02-15 23:28] #1377 closed

[2022-02-17 19:44] pankaj-cgi opened #1378 "Request to add bcgov/moh-hni-esb in SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be assigne

[2022-02-18 18:26] victoriazou opened #1379 "Add private repo for Executive Support System"
## Step 0

**Are you looking to make a public repository?**
If you are a member of the public bcgov GitHub Organization, you are already able to make a new repo there yourself!
If you are not a member, please request membership using the appropriate ticket template instead of using this one.
This template is for **private** repos only.

**Are you a member of the private BCGOV GitHub Organization a

[2022-02-18 18:26] victoriazou commented on #1379
Emailing the Platform team with details.

[2022-02-23 00:20] TimCsaky opened #1380 "update Product Owner name in dedicated Keycloak realm"
there.
I'm trying to update the Product Owner associated with the 4 'dedicated ' Keycloak realms used by the Common Services Showcase team.
Sorry.. there may be a way for me to do this that I am unaware of.
I found the awesome dashboard here: https://realm-registry.apps.silver.devops.gov.bc.ca/my-dashboard
and I have updated the 'product Owner Email' but I don't seem to have permission to update t

[2022-02-23 04:40] zsamji commented on #1380
Hi @TimCsaky ive updated the back end for you so you should be good to go. lmk either way :)

 You may have found a bug for us, so could you email me a screencap at my gov email with the product owner name dithered out for you? thanks so much

[2022-02-24 07:17] zsamji commented on #1380
received response from client. closing

[2022-02-24 07:17] #1380 closed

[2022-02-24 19:35] ShellyXueHan commented on #1378
@pankaj-cgi repo added and you are the admin of it!

[2022-02-24 19:35] #1378 closed

[2022-02-27 21:46] zsamji opened #1381 "Remove custom realm named classy"
As part of our upgrade conversations @Krocodial , this realm (**classy**) is not being used (no active sessions that I see since Oct 2021). We need @Krocodial to confirm either here or via email (ask zorin or lada for update)

[2022-02-28 21:33] #1379 closed

[2022-02-28 21:34] ShellyXueHan commented on #1379
private repo created. @victoriazou you will receive an email invitation from GitHub soon!

[2022-03-01 23:52] rafasbcgov opened #1382 "Add GitHub Repositories to SonarCloud for Pipeline Integration"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
Yes

**Are you the admin user of the GitHub repositories?**
Yes

## Step 1
Login to SonarCloud console with your GitHub account https://sonarcloud.io/organizations/bcgov-sonarcloud/projects. Double check at https://sonarcloud.io/account/organizations to make sure `bcgov` GitHub organization is the current org. For debugging, please c

[2022-03-02 22:34] zsamji commented on #1381
received confirmation from client - @arcshiftsolutions and @thegentlemanphysicist  can the two of you cross train on this. thanks!

[2022-03-03 21:31] thegentlemanphysicist commented on #1381
The classy realm was only present in prod, and has been deleted

[2022-03-03 21:41] #1381 closed

[2022-03-04 17:35] ShellyXueHan commented on #1382
@rafasbcgov repos added, you are made the admin of them.

[2022-03-04 17:35] #1382 closed

[2022-03-09 18:08] sumesh-aot opened #1383 "Add GitHub Repositories to SonarCloud for CI Pipeline"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
YES

**Are you the admin user of the GitHub repositories?**
YES

## Step 1
Login to SonarCloud console with your GitHub account https://sonarcloud.io/organizations/bcgov-sonarcloud/projects. Double check at https://sonarcloud.io/account/organizations to make sure `bcgov` GitHub organization is the current org. For debugging, please c

[2022-03-11 17:56] mitovskaol commented on #1383
@ShellyXueHan @caggles ^^^

[2022-03-11 18:57] StevenBarre opened #1384 "Backup and Restores"
## Step 1
Make sure no duplicated request exists, search here:
https://github.com/BCDevOps/devops-requests/issues

Make sure you have read the [FAQ](https://github.com/BCDevOps/devops-requests/).

## Step 2
Please answer the following questions about the new request type:

1. **What is it?** Please provide an overview of what the request should do.

https://developer.gov.bc.ca/OCP4-Backup-and-Rest

[2022-03-15 16:29] w8896699 opened #1386 "Remove billyli duplicated user from keycloak in test env"
## Step 0
**Are you the Keycloak Realm Admin?**

Not sure --> log in to the [Keycloak Custom Realm Registry](https://realm-registry.apps.silver.devops.gov.bc.ca/) and if you see your realm, go to STEP 1. If you don't see it, ask the product owner to submit this request or go to STEP 2

Yes--> go to STEP 1

No --> you will need to ask one of the admin user in your realm to make this request instead

[2022-03-16 17:42] thegentlemanphysicist commented on #1386
Okay so it looks like the realm ID is devhub

[2022-03-16 18:05] thegentlemanphysicist commented on #1386
I have deleted the user billyli@idir in the test devhub, please confirm. @w8896699

[2022-03-21 14:56] sumesh-aot commented on #1383
Could you please give an update on this ?

[2022-03-24 18:07] rstens opened #1387 "Please add biohubbc-platform to SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.
**Yes, https://github.com/bcgov/biohubbc-platform**

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrato

[2022-03-24 18:43] #1387 closed

[2022-03-24 18:43] #1384 closed

[2022-03-24 18:45] #1383 closed

[2022-03-24 18:45] ShellyXueHan commented on #1383
project created on sonarcloud, you are the admin!

[2022-03-29 19:30] zsamji opened #1388 "Delete realm v0t8loh2"
through client engagement conversations, we can start the process to delete realm v0t8loh2
@tschia @sharpedavid

[2022-03-29 21:35] zsamji opened #1389 "Delete realm udb1ycga"
confirmed with client twice that this realm can now be deleted
@tzhang200

[2022-03-29 21:50] thegentlemanphysicist commented on #1388
looiking at this

[2022-03-29 23:11] thegentlemanphysicist commented on #1388
deleted the realm and the references to it

[2022-03-29 23:14] #1388 closed

[2022-03-30 18:19] thegentlemanphysicist commented on #1389
These are deleted

[2022-03-30 18:20] #1389 closed

[2022-03-30 23:23] rafasdc opened #1390 "Repo Transfer, admin request"
## Step 0

**DO NOT OPEN A TICKET UNLESS THERE ARE NO ADMINS ASSIGNED TO THE REPO IN QUESTION**
If your repo has an admin, please ask them to provide you with the access you need. This ticket is for the **rare** case in which a repo loses all of its admins - this can occasionally happen when moving repos between different owners. If you have not moved the repo in question to bcgov recently, then t

[2022-03-30 23:37] rafasdc opened #1391 "AppCenter Integration"
## Step 0
**Do you have repos on bcgov GitHub Organization?**
If yes, please proceed with the request.

**If there is similar applications/tools available in the community, have you tried them out?**
There are many well supported community tools for various purposes, such SonarCube and BDDStack.
Before you start with the new tools, have you consider trying out those that are available and widely a

[2022-03-31 00:04] NickCorcoran commented on #1391
Have requested review by Social Sector security team.

[2022-03-31 17:29] ramdulam commented on #1391
@NickCorcoran Thanks for your follow-up.

@JeffDorian77 @rafasdc: May I please request a quick meeting? so that, I can understand better about the Azure tenancy and related the dataflows (to/from) the Auzure tenancy.

[2022-04-01 22:17] kmarshgov opened #1392 "Add tbtb-health-monitor to SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.
**https://github.com/bcgov/tbtb-health-monitor**

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator t

[2022-04-04 21:04] zsamji opened #1393 "Business BCeID Prod configuration for realm j94mtfjj"
received IDIM's approval for us to configure the prod realm j94mtfjj with Business BCeID Prod

[2022-04-05 16:30] ShellyXueHan commented on #1392
@kmarshgov repo added, and you are the admin.

[2022-04-05 16:30] #1392 closed

[2022-04-05 16:31] ShellyXueHan commented on #1390
done!

[2022-04-05 16:31] #1390 closed

[2022-04-05 16:51] #1393 closed

[2022-04-05 22:00] kamal-mohammed opened #1394 "Please add these Github repositories to SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be assigne

[2022-04-07 20:57] ASpiteri-BCGov opened #1395 "We are testing our backup/restore procedures."
## Restore a backup Persistent Volume (PV)
Please read through the documentation about [OCP4 Backup and Restore](https://developer.gov.bc.ca/OCP4-Backup-and-Restore) before proceeding with this request!

### Step 1
Fill out the following fields

* Date: April 07, 2022
* Cluster: Silver
* Source PV: pvc-d23e80a5-6ae3-4055-bbfa-9093b4c69990
* Destination PV: pvc-cd5bfd81-6850-4fb7-9a79-c1cd55ad3104/

[2022-04-07 21:15] StevenBarre commented on #1395
Ticket RITM0115726 entered with the Backup team to action the restore. Congrats on being the first to request a restore!

[2022-04-07 21:49] StevenBarre commented on #1395
@ASpiteri-BCGov the restore has been completed. Can you please take a look and verify everything showed up?

[2022-04-08 09:15] rloisell opened #1397 "JADE-859 - AG/PSSG BCGov-C memebership"
details sent by email to platformservices team.

Following instructions:

bcgov-c:

Is used for private repositories and contains code for closed-source projects.
Org membership is required to create private reports and all requests require Platform Services Team's approval as a new user license needs to be procured. **Submit a request for a private org membership [here](https://github.com/BCDevOp

[2022-04-08 09:59] rloisell commented on #1397
cc: @jennifer-dowd

[2022-04-08 17:45] ASpiteri-BCGov commented on #1395
Hi @StevenBarre,

The restore was complete success! Thanks again!!

Cheers,
Adam

[2022-04-08 17:45] #1395 closed

[2022-04-08 20:04] #1394 closed

[2022-04-11 16:49] kamal-mohammed commented on #1394
Hi @caggles thank you for working on this. However i'm getting unauthorized message when I rn the sonar analysis for both the APIs.
https://github.com/bcgov/EDUC-GRAD-BUSINESS-API/runs/5976379492?check_suite_focus=true#step:3:62

[2022-04-11 16:53] ShellyXueHan commented on #1394
@kamal-mohammed try again, just made you the admin of the two project now.

[2022-04-11 16:56] kamal-mohammed commented on #1394
Perfect! Thank you @ShellyXueHan. It's working now.

[2022-04-12 20:12] vyasworks opened #1398 "Sonar cloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

Yes -   https://github.com/bcgov/internationally-educated-nurses

**Are you the admin user of the GitHub repositories?**

Yes.

## Step 1
Login to SonarC

[2022-04-19 19:55] arcshiftsolutions opened #1399 "Please add EDUC-EDX repo to SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be assigne

[2022-04-20 18:55] victoriazou opened #1400 "Add private repo for FINtranet"
## Step 1
Make sure no duplicated request exists, search here:
https://github.com/BCDevOps/devops-requests/issues

## Step 2
Are you requesting to:
- [x] Create a private repo
- [ ] Remove a private repo and go public

## Step 3
Fill out the following fields. For security purpose, please provide the following contact information to the email address - platformservicesteam@gov.bc.ca

* Project Name

[2022-04-20 18:55] victoriazou commented on #1400
Emailing the Platform team with details.

[2022-04-21 16:40] vyasworks commented on #1398
@caggles @patricksimonian @ShellyXueHan Hello! Looking forward to having this soon. Can you please let me know when we can expect this. Our STRA depends on sonar cloud

[2022-04-22 23:47] josekudiyirippil opened #1401 "Delete old IDIR sumallan@idir"
## Step 0
**Are you the Keycloak Realm Admin?**
Yes

Not sure --> log in to the [Keycloak Custom Realm Registry](https://realm-registry.apps.silver.devops.gov.bc.ca/) and if you see your realm, go to STEP 1. If you don't see it, ask the product owner to submit this request or go to STEP 2

Yes--> go to STEP 1

No --> you will need to ask one of the admin user in your realm to make this request ins

[2022-04-23 00:03] junminahn commented on #1401
@josekudiyirippil I removed the idir user `sumallan` from `idir` realm in prod environment, can you try to login again?

[2022-04-25 16:31] josekudiyirippil opened #1402 "remove "SUWRIGHT" from vtkayq4c"
## Step 0
**Are you the Keycloak Realm Admin?**

Yes

Not sure --> log in to the [Keycloak Custom Realm Registry](https://realm-registry.apps.silver.devops.gov.bc.ca/) and if you see your realm, go to STEP 1. If you don't see it, ask the product owner to submit this request or go to STEP 2

Yes--> go to STEP 1

No --> you will need to ask one of the admin user in your realm to make this request in

[2022-04-25 16:46] arcshiftsolutions commented on #1402
User has now been removed - please retry login.

[2022-04-25 16:46] #1402 closed

[2022-04-26 07:09] rloisell commented on #1397
Bump @caggles / @ShellyXueHan / @mitovskaol - sent a follow up email with an addition to the request for BCGov-c membership.

[2022-04-26 15:53] mitovskaol commented on #1397
This request has been processed.

[2022-04-26 15:53] #1397 closed

[2022-04-26 22:21] pmcdonne commented on #1398
Hi @caggles @patricksimonian @ShellyXueHan - could we please move forward with this scan so that we can complete the STRA for the IEN application.

Thanks for your help with this.
Paul McDonnell, IEN Project Manager

[2022-04-27 16:03] ShellyXueHan commented on #1398
@vyasworks Sorry for the delay! repo added to sonarcloud, you are the admin!

[2022-04-27 16:03] #1398 closed

[2022-04-27 16:04] #1399 closed

[2022-04-27 16:21] thegentlemanphysicist commented on #1401
@josekudiyirippil We're just closing this ticket due to lack of follow up.  If this is a mistake, please reach out to us again.

[2022-04-27 16:21] #1401 closed

[2022-04-27 18:26] vyasworks commented on #1398
Thank you!

[2022-04-27 23:30] caggles commented on #1400
Done! FYI, your invite to the org is pending - you'll need to accept that before you have access!

[2022-04-27 23:30] #1400 closed

[2022-05-06 17:29] victoriazou opened #1403 "Request access to bcgov-c for FIN IMB"
Hello Platform Services Team,

Can I please add the following members to bcgov-c?

- chrislaick
- jer3k

They are internal government developers on my project team (fin-exec-support-system). So far, chrislaick is accessing as an outside collaborator, and jer3k is unable to access our repo.

Our GitHub Team is [FIN IMB](https://github.com/orgs/bcgov-c/teams/fin-imb).

Thanks!

[2022-05-06 17:43] mitovskaol commented on #1403
The invites to bcgov-c have been sent to these users.

[2022-05-06 17:43] #1403 closed

[2022-05-09 17:02] josekudiyirippil opened #1404 "remove MNILSSON"
## Step 0
**Are you the Keycloak Realm Admin?**

yes

Not sure --> log in to the [Keycloak Custom Realm Registry](https://realm-registry.apps.silver.devops.gov.bc.ca/) and if you see your realm, go to STEP 1. If you don't see it, ask the product owner to submit this request or go to STEP 2

Yes--> go to STEP 1

No --> you will need to ask one of the admin user in your realm to make this request in

[2022-05-09 19:22] zsamji commented on #1404
met with client and helped. them. closing this out

[2022-05-09 19:22] #1404 closed

[2022-05-09 20:48] zsamji opened #1405 "Reqeust to disable and then delete custom realm vig3jzsu"
Through email communication with client, requesting to disable and then 5 days later delete this realm
@vesselofgold @mohammedalhassan

[2022-05-09 21:47] explorertolu opened #1406 "Request for import GitHub repository on SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be assigne

[2022-05-09 22:40] vesselofgold commented on #1405
@zsamji my GitHub id is @vesselofgold

[2022-05-09 23:05] mohammedalhassan commented on #1405
@zsamji confirming request, thanks

[2022-05-10 06:12] sharpedavid opened #1407 "Grant admin access to https://github.com/bcgov/organizations-api"
## Step 0

**DO NOT OPEN A TICKET UNLESS THERE ARE NO ADMINS ASSIGNED TO THE REPO IN QUESTION**
If your repo has an admin, please ask them to provide you with the access you need. This ticket is for the **rare** case in which a repo loses all of its admins - this can occasionally happen when moving repos between different owners. If you have not moved the repo in question to bcgov recently, then t

[2022-05-10 06:14] sharpedavid commented on #1407
When I created this repo as a personal repo, my thought process was "This is just a work in progress. I'll 'publish' it to bcgov when I'm ready." In hindsight this was unnecessary. I'm sorry for the inconvenience, but please restore my admin access to this repo.

[2022-05-10 15:58] ShellyXueHan commented on #1407
done!

[2022-05-10 15:58] #1407 closed

[2022-05-10 15:59] #1406 closed

[2022-05-16 21:34] saravanpa-aot opened #1408 "import met-public repo to sonarclound"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

YES
https://github.com/bcgov/met-public

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make t

[2022-05-18 00:08] kuanfandevops opened #1409 "Request to import ITVR repo on SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**. Yes
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?** Yes
The request requires a repository administrator to make the request. The requestor will b

[2022-05-18 18:08] thegentlemanphysicist commented on #1405
Deleted

[2022-05-18 18:09] thegentlemanphysicist commented on #1405
Deleted

[2022-05-18 18:09] #1405 closed

[2022-05-19 18:27] NickCorcoran commented on #1409
https://sonarcloud.io/project/configuration?id=bcgov_itvr

You are setup as admin for this space.  You should be able add other users to control this project in SonarCloud too.  You will have to setup the scanning configuration.

[2022-05-19 18:28] NickCorcoran commented on #1409
@kuanfandevops Please update and close ticket when working.

[2022-05-19 21:58] kuanfandevops commented on #1409
@NickCorcoran yes, I can see our project is added to SonarCloud. One question here, I tried to grant permission to several our team members, but they are not in the users list, could you add them? their github ids are:
emi-hi
naomiaro
tim738745

[2022-05-24 16:17] ShellyXueHan commented on #1408
@saravanpa-aot project created and you are the admin!

[2022-05-24 16:17] #1408 closed

[2022-05-24 20:39] ninosamson opened #1411 "Requesting import of COVID Screener Repo to SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be assigne

[2022-05-24 20:39] ninosamson commented on #1411
@dbayly-freshworks

[2022-05-25 17:19] ag-pssg-isb-sa opened #1412 "Requesting a BCGov-c private repo for the BCPS DEMS project"
This is a request to:

[x] Create a private repo
[ ] Remove a private repo and go public

Requesting a BCGov-c private repo for the BCPS DEMS project

Separate email to follow with relevant details.

This is related to AG's JIRA ticket BCPSDEMS-253.

[2022-05-25 21:07] NickCorcoran commented on #1409
@kuanfandevops
1) each of the additional users (emi-hi, naomiaro, tim738745) need to be members of the BCGov GitHub org (you can add them via JustAsk - https://just-ask-web-bdec76-prod.apps.silver.devops.gov.bc.ca/, https://www.youtube.com/watch?v=IvdPyx2-qm0), and then
2) each user will need to attempt to login to SonarCloud before they can be assigned the role.  Once they have, their names will

[2022-05-26 17:25] kuanfandevops commented on #1409
Thanks Nick. I'm closing the issue.

[2022-05-26 17:25] #1409 closed

[2022-05-26 17:58] ShellyXueHan commented on #1411
@ninosamson project created and you are an admin of it

[2022-05-26 17:58] #1411 closed

[2022-06-06 20:56] arcshiftsolutions opened #1413 "Please add the EDUC-INSTITUTE-API repo to SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be assigne

[2022-06-06 21:28] NickCorcoran commented on #1413
Completed.  @arcshiftsolutions granted admin on project.

[2022-06-06 21:28] #1413 closed

[2022-06-08 19:42] ShellyXueHan commented on #1412
closing ticket as this will be handled from another provisioning process!

[2022-06-09 23:27] mitovskaol commented on #1412
@ShellyXueHan I spoke with Ryan and at this moment they still need a private repo in bcgov-c. Can you please create the repo for them.

[2022-06-09 23:37] ShellyXueHan commented on #1412
okay repo created! https://github.com/bcgov-c/BCPSDEMS

[2022-06-09 23:37] #1412 closed

[2022-06-09 23:54] freshjwarren opened #1414 "@alexandralloyd Should Be Admin for PSA-DJ-program"
@alexandralloyd created PSA-DJ-program as a private repo then transferred it into the BCGov org and now it has no admins. Please make @alexandralloyd the admin.

[2022-06-10 00:08] mitovskaol commented on #1414
@alexandralloyd  has been set as an admin for this repo.

[2022-06-10 00:08] #1414 closed

[2022-06-13 21:26] DerekRoberts opened #1415 "Issue: Request for import GitHub repository on SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be assigne

[2022-06-13 21:46] NickCorcoran commented on #1415
Added repo and assigned @DerekRoberts as Admin

[2022-06-13 21:46] #1415 closed

[2022-06-21 20:44] ag-pssg-isb-sa opened #1416 "Requesting a BCGov-c private repo for the CSB Courts Fees and Fines Project"
- [x] Create a private repo
- [ ] Remove a private repo and go public

Email to follow

[2022-06-28 21:05] ShellyXueHan commented on #1416
repo created https://github.com/bcgov-c/jag-cffms

[2022-06-28 21:05] #1416 closed

[2022-07-07 22:12] victoriazou opened #1418 "Add FIN IMB team members to bcgov-c"
Hello Platform Services Team,

Can you please add the following team members to the bcgov-c org?

- Jonwells44
- Rossen2002
- ntirukovela

These are members of FIN IMB who need access to our private repo "fin-exec-support-system". Thanks,

Victoria Zou

[2022-07-08 00:05] mitovskaol commented on #1418
@victoriazou Any user with admin access to the repo can add this users. Our team does not manage access to individual repos that belong to other teams (for security reasons). We only step in if the number of available users licenses for bcgov-c needs to be increased. I have just checked and there are 4 licenses available so you should be able to add 3 users without any issues.

[2022-07-08 00:05] #1418 closed

[2022-07-08 00:21] victoriazou commented on #1418
Hi Olena, I am trying to add these users to my team here: https://github.com/orgs/bcgov-c/teams/fin-imb/members but I cannot add members that are not a part of the bcgov-c organization. We are all internal BC gov employees. I was trying to avoid adding them as outside collaborators, which our vendors are. Are you suggesting I should invite users internal to my organization as outside collaborators

[2022-07-08 18:38] mitovskaol commented on #1418
@victoriazou I apologize for the confusion, I confirmed that yes, new users have to be added to the bcgov-c org first before the teams can add them to the private repos. I've sent the invites to the 3 users listed above to join the org.

[2022-07-08 19:23] victoriazou commented on #1418
Thanks @mitovskaol much appreciated! Hopefully the invites stay valid into next week. If not, I'll let you know.

[2022-07-13 18:49] emmajingwang opened #1419 "Time-based access control with KeyCloak"
## Step 1
Make sure no duplicated request exists, search here:
https://github.com/BCDevOps/devops-requests/issues

Make sure you have read the [FAQ](https://github.com/BCDevOps/devops-requests/).

## Step 2
Please answer the following questions about the new request type:

1. **What is it?** Please provide an overview of what the request should do.
2. **Why should this be a new request type?** A g

[2022-07-25 22:59] ag-pssg-isb-sa opened #1420 "CDDS-156 - AG/PSSG BCGov-C membership - Add user"
Details will be sent by email to Platform Services team.

Following instructions:

bcgov-c:

Is used for private repositories and contains code for closed-source projects.
Org membership is required to create private reports and all requests require Platform Services Team's approval as a new user license needs to be procured. Submit a request for a private org membership [here](https://github.com/

[2022-07-27 20:53] gjlawran opened #1421 "Please grant me admin access to the following to repos - I will delete 1 and archive the other"
## Step 0

**DO NOT OPEN A TICKET UNLESS THERE ARE NO ADMINS ASSIGNED TO THE REPO IN QUESTION**
If your repo has an admin, please ask them to provide you with the access you need. This ticket is for the **rare** case in which a repo loses all of its admins - this can occasionally happen when moving repos between different owners. If you have not moved the repo in question to bcgov recently, then t

[2022-07-28 02:55] mitovskaol commented on #1421
@gjlawran I made you the admin of https://github.com/bcgov/HectaresBC and you already had admin right for https://github.com/bcgov-c/HectaresBC

[2022-07-28 02:55] #1421 closed

[2022-07-28 14:48] gjlawran commented on #1421
@mitovskaol - Thank you.

[2022-07-29 16:38] wenzowski opened #1422 "Request to import bcgov/CONN-CCBC-portal repo on SonarCloud"
* Project Name: `CONN-CCBC-portal`
* GitHub repositories to add to SonarCloud: https://github.com/bcgov/CONN-CCBC-portal
* Team will add `.sonarcloud.properties` config once SonarCloud is enabled for this repo

[2022-07-29 17:03] NickCorcoran commented on #1422
@wenzowski I have added the project and assigned you the Administer and Execute Analysis roles.  This should allow you to add other users to the project.
https://sonarcloud.io/project/overview?id=bcgov_CONN-CCBC-portal

[2022-07-29 20:37] victoriazou commented on #1418
@mitovskaol Hi Olena, apologies, can you please resend the invitation to ntirukovela ? He did not accept the invitation in time.

[2022-07-29 21:45] victoriazou opened #1423 "Add additional FIN IMB team members to bcgov-c"
Hello Platform Services Team,

Extension of [issue ticket #1418](https://github.com/BCDevOps/devops-requests/issues/1418)

Can you please add the following team members to the **bcgov-c** org?

- DaveBaldy
- Ntirukovela

These are members of FIN IMB who need access to our private repo "fin-exec-support-system". Thanks,

Victoria Zou

[2022-07-29 22:23] mitovskaol commented on #1423
@victoriazou I've sent a new invite to Ntirukovela and DaveBaldy :)

[2022-07-29 22:23] #1423 closed

[2022-08-03 15:14] victoriazou opened #1424 "Add additional FIN IMB team member to bcgov-c"
Hello Platform Services Team,

Extension of https://github.com/BCDevOps/devops-requests/issues/1418

Can you please add the following team member to the bcgov-c org: [Rossen2002](https://github.com/Rossen2002)

This is another member of FIN IMB who needs access to our private repo "fin-exec-support-system". Apologies for multiple requests, some team members were away on vacation.

Thanks,
Victoria

[2022-08-03 20:42] kmarshgov opened #1425 "Add tbtb-vss to SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.
https://github.com/bcgov/tbtb-vss

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the requ

[2022-08-03 21:07] NickCorcoran commented on #1425
@kmarshgov This is setup at https://sonarcloud.io/project/configuration?id=bcgov_tbtb-vss
You can add others to admin/execute as well if needed here: https://sonarcloud.io/project/roles?id=bcgov_tbtb-vss

[2022-08-03 21:07] #1425 closed

[2022-08-03 21:48] mitovskaol commented on #1424
An invite has been send to Rossen2002 to join the bcgov-c

[2022-08-03 21:48] #1424 closed

[2022-08-04 20:06] #1422 closed

[2022-08-04 20:07] mitovskaol commented on #1420
I believe this request has been completed. Please let me know otherewise.

[2022-08-04 20:07] #1420 closed

[2022-08-04 22:40] ag-pssg-isb-sa opened #1426 "RSI-1647 - AG/PSSG BCGov-C membership for 1 user"
Details will be sent via email to Platform Services Team, with this Issue # in the email subject

Thank you,
Zubin Akolawala
AG ISB Application Management

[2022-08-05 18:16] ag-pssg-isb-sa opened #1427 "RSI-1647 - AG/PSSG - Create new bcgov-c private repo"
A separate email will be sent to the Platform Services Team with details of this request

Are you requesting to (leave this in to GitHub issue):
	[x] Create a private repo
	[ ] Remove a private repo and go public

Thanks! :)
Zubin Akolawala
AG ISB Application Management

[2022-08-09 23:01] ag-pssg-isb-sa opened #1428 "MDYNAMICS-1188 - AG/PSSG - Add user to BCGOV-c pool"
Hello Platform Services Team,

A follow-up email will be sent with required details to add a new user to the bcgov-c pool.

Thank you!
Zubin Akolawala
AG ISB Application Management

[2022-08-09 23:13] zsamji opened #1429 "Request for private repo to replace documize"
## Step 0

**Are you looking to make a public repository?**
If you are a member of the public bcgov GitHub Organization, you are already able to make a new repo there yourself!
If you are not a member, please request membership using the appropriate ticket template instead of using this one.
This template is for **private** repos only.

**Are you a member of the private BCGOV GitHub Organization a

[2022-08-10 00:12] mitovskaol commented on #1428
The invite to join the bcgov-c org has been sent to leewrigh’s email.

[2022-08-10 00:12] #1428 closed

[2022-08-11 21:36] RMCampos opened #1430 "Request for import GitHub repository on SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
Yes!

We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?**
Yes!

The request requires a repository administrator to make the request. The requestor wil

[2022-08-11 22:09] NickCorcoran commented on #1430
@RMCampos The repo has been setup for analysis in SonarCloud.  You have been granted admin on the repo along w/ execute analysis.  You can grant others here if you desire.
https://sonarcloud.io/project/roles?id=bcgov_nr-backend-starting-api

[2022-08-11 22:09] #1430 closed

[2022-08-12 12:48] RMCampos commented on #1430
Thank you @NickCorcoran

[2022-08-12 20:14] caggles commented on #1426
Closing as complete, as per the email response!

[2022-08-12 20:14] #1426 closed

[2022-08-12 20:22] caggles commented on #1427
closing as per the email response!

[2022-08-12 20:22] #1427 closed

[2022-08-12 20:25] #1429 closed

[2022-08-12 20:25] caggles commented on #1429
done!

[2022-08-15 18:42] cvarjao opened #1431 "SonarCloud for bc-wallet-mobile"
## Step 0
**Is your repository on `bcgov` GitHub Organization?** YES
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?** YES
The request requires a repository administrator to make the request. The requestor will be

[2022-08-15 21:31] NickCorcoran commented on #1431
Done.  https://sonarcloud.io/project/roles?id=bcgov_bc-wallet-mobile

[2022-08-15 21:31] #1431 closed

[2022-08-18 23:19] victoriazou opened #1432 "Add additional FIN IMB team member to bcgov-c"
Hello Platform Services Team,

Extension of https://github.com/BCDevOps/devops-requests/issues/1418

Can you please add the following team member to the bcgov-c org: [HarlaBatinovic](https://github.com/HarlaBatinovic)

This is another member of FIN IMB who needs access to our private repo "fin-exec-support-system".

Thanks,
Victoria Zou

[2022-08-22 20:36] michaelpnelson opened #1433 "Please add maven-remote to b16795-tools-map-artifacts"
Artifactory project:
b16795-tools-map-artifacts
Repository name:
[mb16-]maven-remote
Repository URL:
https://artifacts.developer.gov.bc.ca/artifactory/maven-remote/
Maven layout: version 2

Originally requested in chat https://chat.developer.gov.bc.ca/channel/devops-artifactory?msg=nrA4RRsxT2apiP5Bf.

Cheers!

[2022-08-23 15:07] ag-pssg-isb-sa opened #1434 "MDYNAMICS-1200 - AG/PSSG - Remove user from bcgov-c space"
Hello Platform Services Team,

An email will follow with required details.

Thank you,
Zubin Akolawala
AG ISB Application Management

[2022-08-30 20:17] ag-pssg-isb-sa opened #1435 "AG/PSSG - RSI-1652 - Add user to bcgov-c space"
Hello Platform Services Team,

An email will follow with required details.

Thank you,
Zubin Akolawala
AG ISB Application Management

[2022-08-31 15:17] wenzowski opened #1436 "Uninstall GitHub App"
I don't seem to have permission to uninstall a github app from my team repo.
Help please?

* Product Name: CONN-CCBC-portal
* Team Name: [CITZ Connectivity](https://github.com/orgs/bcgov/teams/citz-connectivity)
* GitHub Repositories on bcgov: https://github.com/bcgov/CONN-CCBC-portal

I'm trying to remove the Cocogitto-bot from https://github.com/bcgov/CONN-CCBC-portal as we've implemented the [c

[2022-08-31 17:48] vivid-cpreston opened #1437 "Request to import WFNEWS repo to SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

YES

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be as

[2022-08-31 18:33] NickCorcoran commented on #1437
Setup in SonarCloud.  @vivid-cpreston, you have admin over your project on SonarCloud.  Additional user grants can be made here:  https://sonarcloud.io/project/roles?id=bcgov_nr-bcws-wfnews

[2022-08-31 18:33] #1437 closed

[2022-09-01 16:45] pdittaro opened #1438 "Access to bcgov-c for argocd on project a5cf88"
## Step 0

**Are you looking to make a public repository?**
If you are a member of the public bcgov GitHub Organization, you are already able to make a new repo there yourself!
If you are not a member, please request membership using the appropriate ticket template instead of using this one.
This template is for **private** repos only.

**Are you a member of the private BCGOV GitHub Organization a

[2022-09-01 18:13] wenzowski commented on #1436
There's only a template for installing apps not uninstalling them, so please let me know if I've missed any crucial information in this ticket.

[2022-09-02 17:21] pdittaro commented on #1438
This was resolved as an issue with the Operator and bcgov-c seat availaility.

[2022-09-02 17:21] #1438 closed

[2022-09-02 20:23] wenzowski commented on #1436
Is `requestron` asking for a `client-response` or confirmation that one has been received?

[2022-09-02 20:52] ShellyXueHan commented on #1436
hi Alec @wenzowski  i've removed it and got the message: `A job has been queued to uninstall Cocogitto-bot` So it might take some time for the uninstallation to complete. But you should be all set!

[2022-09-02 20:52] #1436 closed

[2022-09-02 23:16] #1432 closed

[2022-09-02 23:16] ShellyXueHan commented on #1432
invitation on its way!

[2022-09-02 23:17] ShellyXueHan commented on #1435
invitation on its way!

[2022-09-02 23:17] #1435 closed

[2022-09-02 23:18] ShellyXueHan commented on #1434
okay user removed from orgs, thanks for the notice!

[2022-09-02 23:18] #1434 closed

[2022-09-07 20:05] michaelpnelson commented on #1433
Nudge nudge :) Just checking in on this - do you need anything from me? Thanks ...

[2022-09-09 17:14] caggles commented on #1433
Sorry for the delay! This is now done!
Remember to add a virtual repo that includes both this and any local maven repos you have!

[2022-09-09 17:14] #1433 closed

[2022-09-14 19:26] RMCampos opened #1439 "Request new repository importing to Sonar"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.
- Yes

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be a

[2022-09-14 20:03] NickCorcoran commented on #1439
Setup.  @RMCampos you can access the tool and add other users if you want here:  https://sonarcloud.io/project/roles?id=bcgov_nr-frontend-starting-app

[2022-09-14 20:03] #1439 closed

[2022-09-20 21:19] ag-pssg-isb-sa opened #1440 "RSI-1655 - AG/PSSG – Add a member to bcgov-c"
Hello Platform Services Team,

An email will follow with required details to add a member to the bcgov-c space/repo.

Thank you,
Zubin Akolawala
AG ISB Application Management

[2022-09-20 22:43] michaelpnelson opened #1441 "Please add OSGeo remote repo to b16795-tools-map-artifacts"
Hi! We'd like to consume some org.geotools dependencies that don't seem to be in Maven Central.

Artifactory project:
b16795-tools-map-artifacts

Repository name:
[mb16-]maven-osgeo-remote

Repository URL:
https://repo.osgeo.org/repository/release/

Maven layout: version 2

No credentials are needed for this repository.

Thanks :)

[2022-09-28 00:23] arcshiftsolutions opened #1442 "Please add EDUC-INSTITUTE-API to SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be assigne

[2022-10-03 15:01] michaelpnelson commented on #1441
Nudge :) Just checking in on this request. Please let me know if there's anything else you need from me.

Cheers

[2022-10-03 16:14] ag-pssg-isb-sa opened #1443 "AG/PSSG - MDYNAMICS-1212 - Management of GitOps repos"
Hi Platform Services Team,

A separate email will follow with an inquiry on management of GitOps repos.

Thanks,
Zubin Akolawala
Application Management
ISB

[2022-10-05 16:10] ag-pssg-isb-sa opened #1444 "AG/PSSG - MDYNAMICS-1219 - Add user to bcgov-c private org"
Hello Platform Services Team,

An email will be sent with the required details.

Thank you,
Zubin Akolawala
AG ISB Application Management

[2022-10-05 16:16] ag-pssg-isb-sa opened #1445 "AG/PSSG - MDNAMICS-1218 - Remove multiple users from bcgov-c (private) org"
Hi Platform Services Team,

An email will be sent with all the required details of this request.

Thank you,
Zubin Akolawala
AG ISB Application Managament

[2022-10-05 23:01] #1445 closed

[2022-10-05 23:02] #1444 closed

[2022-10-05 23:23] #1440 closed

[2022-10-05 23:24] ShellyXueHan commented on #1442
looks like the repo is added already! If there are any issue, please reopen the ticket! thx ;)

[2022-10-05 23:24] #1442 closed

[2022-10-06 18:07] #1441 closed

[2022-10-06 18:07] caggles commented on #1441
Done!

[2022-10-06 18:25] caggles commented on #1443
The base request has been handled and further conversation has moved into emails.

[2022-10-06 18:25] #1443 closed

[2022-10-07 14:42] michaelpnelson commented on #1441
Thanks Cailey! I've confirmed I can see the new local repository and have added it to a virtual repository. Cheers

[2022-10-12 15:49] ag-pssg-isb-sa opened #1446 "AG/PSSG - MDYNAMICS-1220 - Add user to BCGOV-C (private) org"
Hello Platform Services Team,

A separate email will follow with the required details.

Thank you,
Zubin Akolawala
AG ISB Application Management

[2022-10-13 17:45] ag-pssg-isb-sa opened #1447 "AG/PSSG - SPDBT-337 - Request for new bcgov-c (private) org"
Hello Platform Services Team,

An email will follow with required details to create a new bcgov-c (private) repo.

Thank you,
Zubin Akolawala
AG ISB Application Management

[2022-10-14 20:20] conbrad opened #1448 "Sonarcloud for WPS: Change admin"
Hi all,

https://github.com/bcgov/wps is already set up on sonarcloud, but the admin has left the team. Can you please assign myself (@conbrad) as administrator for sonarcloud?

I am listed as a technical lead in the product registry.

Thanks,
Conor

[2022-10-14 21:00] #1448 closed

[2022-10-14 21:16] conbrad commented on #1448
Thanks @NickCorcoran !

[2022-10-20 17:48] cditcher opened #1449 "SonarCloud onboarding for project bcgov/EDUC-CCOF"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

yes

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be as

[2022-10-21 17:38] ozamani9gh opened #1450 "I used the Self Serve to add jennyschan for openshift access."
Hello,

I tried to give Open shift Access to one of our BC Registries Contractors    Jenny Chan   (Github @jennyschan )

using Self Serve.    https://just-ask-web-bdec76-prod.apps.silver.devops.gov.bc.ca/requests

she cannot see the openshift console when she goes to this link.   Any help would be much appreciated, can you confirm she has access to Openshift.

(https://console.apps.silver.devops.g

[2022-10-21 21:09] sakthi-aot opened #1451 "nr-epd-digital-services- Request for import GitHub repository on SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be assigne

[2022-10-21 21:10] sakthi-aot commented on #1451
@acoard-aot

[2022-10-21 21:13] sakthi-aot commented on #1451
Project Name: nr-epd-digital-services
GitHub repositories to add to SonarCloud: https://github.com/bcgov/nr-epd-digital-services

[2022-10-21 21:16] NickCorcoran commented on #1451
Project has been setup and @sakthi-aot you have admin access to add others as needed here: https://sonarcloud.io/project/roles?id=bcgov_nr-epd-digital-services

[2022-10-21 21:16] #1451 closed

[2022-10-24 16:34] ShellyXueHan commented on #1450
@ozamani9gh Jenny is already a member of our github organizations. please ask her to clear cache and try to login again via the Github account!

[2022-10-24 16:40] #1446 closed

[2022-10-26 00:28] DerekRoberts opened #1452 "SonarCloud for bcgov/nr-quickstart-helpers"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be assigne

[2022-10-26 15:56] NickCorcoran commented on #1452
@DerekRoberts I have set this up.  You are set as admin for the app analysis in SonarCloud.  You can add others to do the same here: https://sonarcloud.io/project/roles?id=bcgov_nr-quickstart-helpers

[2022-10-26 15:56] #1452 closed

[2022-10-27 15:46] DerekRoberts opened #1453 "Request to import bcgov/nr-forests-access-management on SonarCloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be assigne

[2022-10-27 16:42] NickCorcoran commented on #1453
@DerekRoberts this is setup.  You can manage access here:  https://sonarcloud.io/project/roles?id=bcgov_nr-forests-access-management

[2022-10-27 16:42] #1453 closed

[2022-11-02 21:37] DerekRoberts opened #1454 "SonarCloud Monorepo Request for bcgov/nr-quickstart-typescript"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be assigne

[2022-11-03 16:35] NickCorcoran commented on #1454
Setup the following as mono-repo:

[2022-11-03 16:36] NickCorcoran commented on #1454
https://sonarcloud.io/project/roles?id=bcgov_nr-quickstart-typescript_backend
https://sonarcloud.io/project/configuration?id=bcgov_nr-quickstart-typescript_frontend

[2022-11-03 16:36] #1454 closed

[2022-11-03 20:43] DerekRoberts opened #1455 "SonarCloud MultiRepo Setup"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be assigne

[2022-11-03 21:11] NickCorcoran commented on #1455
Done.
Namings were not possible as listed.  Here are links to admin for each project:
https://sonarcloud.io/project/roles?id=forest-client-frontend
https://sonarcloud.io/project/roles?id=forest-client-backend

[2022-11-03 21:11] #1455 closed

[2022-11-03 21:22] DerekRoberts opened #1456 "SonarCloud Project for bcgov/nr-forest-client-api"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?**
The request requires a repository administrator to make the request. The requestor will be assigne

[2022-11-03 21:27] NickCorcoran commented on #1456
This already exists.  https://sonarcloud.io/project/roles?id=bcgov_forest-client-api

[2022-11-03 21:27] #1456 closed

[2022-11-07 17:40] jennyschan commented on #1450
I will provide the updates this week.  Thanks again for the help

Regards,
Jen

On Nov 7, 2022, at 12:29 PM, requestron[bot] ***@***.***> wrote:

﻿

It has been 2 weeks or more since this ticket was last updated. This issue will be closed if it is not updated in the next 1 week.

—
Reply to this email directly, view it on GitHub<https://github.com/BCDevOps/devops-requests/issues/1450#issuecomment-

[2022-11-07 17:52] jennyschan commented on #1450
@ShellyXueHan good morning, I'm working on the last step for setting the console.  will provide the update within this week.  Thanks in advance for your help.

[2022-11-07 20:55] ShellyXueHan commented on #1450
@jennyschan the github organization membership is only to let you login to openshift console, which you have already. But it does not include RBAC to a specific namespace. Please contact your project's technical lead or product owner to give you required access to the namespaces. See here for more instruction: https://docs.developer.gov.bc.ca/grant-user-access-openshift/#grant-namespace-access

[2022-11-07 20:55] #1450 closed

[2022-11-07 21:03] jennyschan commented on #1450
Thanks again.  will chat with them.

[2022-11-25 16:20] RMCampos opened #1457 "Import new NR SPAR webapp to Sonar Cloud"
## Step 0
**Is your repository on `bcgov` GitHub Organization?**
- [x] Yes

We have installed SonarCloud on `bcgov` GitHub Organization for application teams to use. Only repositories inside the bcgov GitHub Organization are supported through this request.

**Are you the admin user of the GitHub repositories?**
- [x] Yes

The request requires a repository administrator to make the request. The req

[2022-11-28 18:52] NickCorcoran commented on #1457
Setup.  You can add others to manage analysis here:  https://sonarcloud.io/project/roles?id=bcgov_nr-spar-webapp.

[2022-11-28 18:52] #1457 closed